<div class="group-wrapper">
  {% for row in rows %}
    {%
    set row_classes = [
    default_row_class ? 'views-row',
    ]
    %}
  <div{{ row.attributes.addClass(row_classes) }}>
  
    {% if loop.first and title  %}
      <h2>{{ title }}</h2>
        {% endif %}
        {{ row.content }}
   </div>
  {% endfor %}
</div>