.view-id-biblical_charts {
	.view-content {
		display: block;

		.views-row {
			float: left;
			width: 50%;
			background-image: url("/Content/files/linkIcon.png");
			background-size: cover;
			background-repeat: no-repeat;
			height: 184px;
			margin: 0 10px;
			padding: 2em;

			.views-field-title {
				font-size: 2em;
			}
			
		}
	}
}

.block-views-blocktimeline-chart-full-block-1 {
	.field--name-field-media-document {
		.file-download {
			display: inline-block;
			font-size: 1.4em;
			background-color: #337ab7;
			border-color: #2e6da4;
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none;
			border: 1px solid transparent;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			border-radius: 4px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}
