@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap");
.path-frontpage .featuredlinks {
  background: #eee;
  margin-top: 3em;
  margin-bottom: 3em;
}
.path-frontpage #block-biblicalcalendar-page-title h1 {
  display: none;
}
.path-frontpage .homepage-categories {
  margin-bottom: 4em;
  padding: 1em 3em;
}
.path-frontpage .homepage-categories .swiper-wrapper {
  padding-bottom: 2em;
}
.path-frontpage .homepage-categories.swiper-initialized .role-type video {
  opacity: 1;
}
.path-frontpage .homepage-categories span.badge {
  white-space: break-spaces;
  margin-bottom: 5px;
}
.path-frontpage .homepage-categories .role-type {
  padding: 1em;
}
.path-frontpage .homepage-categories .role-type video {
  width: 100%;
  height: auto;
  opacity: 0;
}
.path-frontpage .homepage-categories .role-type .views-content {
  display: flex;
  flex-wrap: wrap;
}
.path-frontpage .homepage-categories .role-type .views-content h2 {
  order: 0;
}
.path-frontpage .homepage-categories .role-type .views-content .views-row {
  order: 2;
  flex: 1 100%;
}
.path-frontpage .homepage-categories .role-type .views-content .views-row.regular::before {
  content: "•";
}
.path-frontpage .homepage-categories .role-type .views-content .views-row.video-timeline {
  order: 1;
  margin-bottom: 1em;
  position: relative;
}
.path-frontpage .homepage-categories .role-type .views-content .views-row.video-timeline::after {
  content: none;
  display: block;
  text-decoration: underline;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 1em;
  border-top: 1px dashed #fff;
  padding-top: 1em;
}
.path-frontpage .homepage-categories h2 {
  text-transform: uppercase;
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 1.4em;
}
.path-frontpage .featuredlinks a {
  display: block;
}
.path-frontpage .featuredlinks a img {
  width: 100%;
}
.path-frontpage .featuredlinks a:hover {
  transform: scale(1.05);
}
.path-frontpage .main-container {
  padding-top: 0 !important;
}
.path-frontpage .region-home-box {
  display: flex;
  flex-wrap: wrap;
}
.path-frontpage .region-home-box > section {
  flex: 1 100%;
  padding: 0.5em;
  height: auto;
}
@media (min-width: 992px) {
  .path-frontpage .region-home-box > section {
    flex: 1 50%;
  }
}
.path-frontpage #block-biblicalcalendar-subhero {
  position: relative;
  background: #4a98dc;
  color: #fff;
  padding: 2em;
  text-align: center;
  font-size: 2em;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-bottom: 50px;
  box-shadow: 0px 0px 19px #333;
  top: -5px;
  padding-bottom: 4em;
  margin-bottom: 9em;
}
@media (max-width: 991px) {
  .path-frontpage #block-biblicalcalendar-subhero {
    padding: 0.5em;
    padding-bottom: 4em;
  }
}
.path-frontpage #block-biblicalcalendar-subhero a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}
@media (max-width: 991px) {
  .path-frontpage #block-biblicalcalendar-subhero a {
    font-size: 0.7em;
  }
}
.path-frontpage #block-biblicalcalendar-subhero .intro_video {
  position: absolute;
  width: 100%;
  margin-top: 0.5em;
  z-index: 9;
  left: 0;
}
.path-frontpage #block-biblicalcalendar-subhero .intro_video iframe {
  max-width: 100%;
}

.block-views-blockhomepage-cat-blocks-block-3 .view-content {
  display: flex;
  flex-wrap: wrap;
}
.block-views-blockhomepage-cat-blocks-block-3 .view-content .group-wrapper {
  flex: 1 100%;
  padding: 0.5em;
}
@media (min-width: 992px) {
  .block-views-blockhomepage-cat-blocks-block-3 .view-content .group-wrapper {
    flex: 1 50%;
  }
}
.block-views-blockhomepage-cat-blocks-block-3 .view-content .group-wrapper .views-row {
  background: rgba(255, 255, 255, 0.02);
  padding: 1em;
}
.block-views-blockhomepage-cat-blocks-block-3 .view-content .group-wrapper .views-row:hover {
  background: rgba(255, 255, 255, 0.1);
}
.block-views-blockhomepage-cat-blocks-block-3 .view-content .group-wrapper .views-row .block-field-blocknodearticlebody {
  display: none;
}
.block-views-blockhomepage-cat-blocks-block-3 .view-content .group-wrapper .views-row .block-extra-field-blocknodearticlelinks {
  display: none;
}
.block-views-blockhomepage-cat-blocks-block-3 .view-content .group-wrapper .views-row h2 {
  text-transform: uppercase;
  margin-top: 0;
  color: #f1cb98;
}
.block-views-blockhomepage-cat-blocks-block-3 .view-content .group-wrapper .views-row h2 a {
  color: #f1cb98;
  font-weight: bold;
}

#block-videogreetin, #block-biblicalcalendar-videogreeting {
  position: fixed;
  top: 300px;
  width: 250px;
  z-index: 88;
}
#block-videogreetin h2, #block-biblicalcalendar-videogreeting h2 {
  display: none;
}
#block-videogreetin canvas, #block-biblicalcalendar-videogreeting canvas {
  opacity: 1;
  max-width: 300px;
}
#block-videogreetin.playing .CloseVideoButton, #block-biblicalcalendar-videogreeting.playing .CloseVideoButton {
  display: block;
  cursor: pointer;
  top: 200px;
}
#block-videogreetin #placeholderImg, #block-biblicalcalendar-videogreeting #placeholderImg {
  display: block;
}
#block-videogreetin .block-title, #block-biblicalcalendar-videogreeting .block-title {
  display: none;
}
#block-videogreetin .CloseVideoButton, #block-biblicalcalendar-videogreeting .CloseVideoButton {
  border: 1px solid #4598ce;
  border-radius: 5px;
  bottom: 0;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.43);
  display: none;
  font-size: 16px;
  left: -30px;
  line-height: 45px;
  margin: 0 18%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 200px;
  z-index: 1000;
  height: 45px;
  background: #222;
  color: #fff;
  padding: 0 8px;
}

#block-biblicalcalendar-content {
  margin-top: 0.5em;
}

:root {
  --GC: #1F1F1F;
  --HCC: #A50000;
  --SC: #0000AA;
}

.border-radius-10 {
  border-radius: 10px;
}

.bg-passover {
  background-color: #f70d48;
}
.bg-passover span {
  background-color: #f70d48;
}

.bg-unleavenedbread, .bg-unleavenedbreadend {
  background-color: #a07833;
}
.bg-unleavenedbread span, .bg-unleavenedbreadend span {
  background-color: #a07833;
}

.bg-pentecost {
  background-color: #0de1ec;
}
.bg-pentecost span {
  background-color: #0de1ec;
}

.bg-trumpets {
  background-color: #f2d316;
}
.bg-trumpets span {
  background-color: #f2d316;
}

.bg-atonement {
  background-color: #e647fb;
}
.bg-atonement span {
  background-color: #e647fb;
}

.bg-tabernacles, .bg-tabernaclesend {
  background-color: #fa8a48;
}
.bg-tabernacles span, .bg-tabernaclesend span {
  background-color: #fa8a48;
}

.bg-lastgreatday {
  background-color: #15be27;
}
.bg-lastgreatday span {
  background-color: #15be27;
}

.language-switcher-language-url a img {
  display: none;
}

.block-calendar-generator-dates .table td {
  position: relative;
}
.block-calendar-generator-dates .table td span {
  display: inline-block;
  min-width: 10px;
  height: 1em;
  margin-left: 5px;
}
.block-calendar-generator-dates .table .passover span {
  background-color: #f70d48;
}
.block-calendar-generator-dates .table .unleavenedbread span {
  background-color: #a07833;
}
.block-calendar-generator-dates .table .pentecost span {
  background-color: #0de1ec;
}
.block-calendar-generator-dates .table .trumpets span {
  background-color: #f2d316;
}
.block-calendar-generator-dates .table .atonement span {
  background-color: #e647fb;
}
.block-calendar-generator-dates .table .tabernacles span {
  background-color: #fa8a48;
}
.block-calendar-generator-dates .table .lastgreatday span {
  background-color: #15be27;
}

.path-calendar {
  /*
  .pentecostcount_7 {
  	border: 1px solid $pentecost!important;
  	outline: 2px solid $pentecost;
  	cursor: pointer;
  }
  .data_passover_column, .data_unleavenedbread_column {
  	border:1px solid $passover!important;
  	outline: 2px solid $passover;
  	cursor: pointer;
  }
  .Column.data_passover_column {
  	border-right-color: #000!important;
  }
  .Column.data_unleavenedbread_column {
  	border-left-color: #000!important;
  }

  .data_trumpets_column,
  .data_atonement_column,
  .data_tabernacles_column,
  .data_tabernaclesend_column,
  .data_lastgreatday_column {
  	border:1px solid $trumpets!important;
  	outline: 2px solid $trumpets;
  	cursor: pointer;

  }
  	*/
  /*
  .data_passover_column {
  	position: relative;
  	&::after {
  		content: "Passover";
  		display: block;
  		@extend .bg-passover !optional;
  		position: absolute;
  		top:-2px;

  	}
  }
  .data_unleavenedbread_column {
  	position: relative;
  	&::after {
  		content: "D.U.B.";
  		display: block;
  		@extend .bg-unleavenedbread !optional;
  		position: absolute;
  		top:-2px;

  	}
  }
  .data_pentecost_column {
  	position: relative;
  	&::after {
  		content: "Pentecost";
  		display: block;
  		@extend .bg-pentecost !optional;
  		position: absolute;
  		top:-2px;

  	}
  }
  .data_trumpets_column {
  	position: relative;
  	&::after {
  		content: "Trumpets";
  		display: block;
  		@extend .bg-trumpets !optional;
  		position: absolute;
  		top:-2px;

  	}
  }
  .data_atonement_column {
  	position: relative;
  	&::after {
  		content: "Atonement";
  		display: block;
  		@extend .bg-atonement !optional;
  		position: absolute;
  		top:-2px;
  	}
  }
  .data_tabernacles_column {
  	position: relative;
  	&::after {
  		content: "F.O.T.";
  		display: block;
  		@extend .bg-tabernacles !optional;
  		position: absolute;
  		top:-2px;
  	}
  }
  .data_lastgreatday_column {
  	position: relative;
  	&::after {
  		content: "LGD";
  		display: block;
  		@extend .bg-lastGreatDay !optional;
  		position: absolute;
  		top:-2px;
  	}
  }
  */
}
.path-calendar .instructions {
  font-size: 1.4em !important;
}
.path-calendar .weekgrid {
  height: 5px;
  background: #eee;
  display: flex;
}
.path-calendar .weekgrid .daygrid {
  height: 100%;
  width: 16.666%;
  color: #fff;
  position: relative;
  height: 12px;
}
.path-calendar .key:not(.keepThis) {
  display: none;
}
.path-calendar .holydaymonthcolumn {
  position: relative;
}
.path-calendar .holydayoverlay {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  display: flex;
}
.path-calendar .holydayoverlay .holyday {
  position: relative;
  display: block;
  flex: 1 auto;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  height: 30px;
  text-shadow: 1px 1px 5px #000000;
  padding: 3px;
  cursor: pointer;
}
.path-calendar .fullOverride {
  width: 100% !important;
  float: none !important;
  clear: both;
}
.path-calendar .newHR {
  clear: both;
}
.path-calendar .SeeTheEnd a {
  color: #ddd;
}
.path-calendar .subtitle {
  font-size: 3em;
  margin-top: -0.5em;
  margin-bottom: 2em;
}
.path-calendar .field--name-body {
  margin-top: 4em;
}
.path-calendar .SignificantDateV2, .path-calendar .Header {
  display: none;
}
.path-calendar .calendarMetrics {
  /*display: none!important;*/
}
.path-calendar .disclaimer_heading, .path-calendar .Disclaimer {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: inherit;
  padding: 15px 0 0px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  background: transparent;
  margin-bottom: 0;
}
.path-calendar #block-calendarbottomsection {
  max-width: 1000px;
  margin: auto;
  background: rgba(51, 51, 51, 0.7098039216);
}
.path-calendar #Math {
  display: none;
  width: 100%;
}
@media (max-width: 991px) {
  .path-calendar #Math {
    flex-wrap: wrap;
  }
  .path-calendar #Math > div {
    /*
    width: 100%!important;
    */
  }
}
.path-calendar #Math .TotalDays, .path-calendar #Math .CalcDays, .path-calendar #Math .Calculated {
  display: block;
  float: left;
  width: 33.3%;
  min-height: 70px;
  background: #2b60a4;
}
.path-calendar #Math .TotalDays > .Title:nth-child(1),
.path-calendar #Math .TotalDays > .NumCycles,
.path-calendar #Math .CalcDays > .Title:nth-child(1),
.path-calendar #Math .CalcDays > .NumCycles,
.path-calendar #Math .Calculated > .Title:nth-child(1),
.path-calendar #Math .Calculated > .NumYears {
  width: 100%;
  text-align: center;
}
.path-calendar #Math .TotalDays,
.path-calendar #Math .CalcDays {
  border-right: 1px solid #fff;
  width: 33%;
}
.path-calendar #Math .CalcDays {
  background: #053E84;
}
.path-calendar #Math .Title {
  min-height: 45px;
}
@media (max-width: 991px) {
  .path-calendar #Math .Title {
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .path-calendar #Math {
    margin-bottom: 1em;
  }
}
@media (max-width: 991px) {
  .path-calendar #Math > div > div {
    width: 100% !important;
    text-align: center;
    font-size: 13px;
  }
}
@media screen and (max-width: 1000px) {
  .path-calendar #Math .CalcDays {
    width: 33%;
    font-size: 10px;
    padding: 0;
  }
}
.path-calendar #Math .TotalDays {
  border-radius: 0 0 0 30px;
}
@media screen and (max-width: 1000px) {
  .path-calendar #Math .TotalDays {
    width: 33%;
    font-size: 10px;
    padding: 0;
  }
}
.path-calendar #Math .Calculated {
  border-radius: 0 0 30px 0;
}
@media screen and (max-width: 1000px) {
  .path-calendar #Math .Calculated {
    width: 33%;
    font-size: 10px;
    padding: 0;
  }
}
.path-calendar #Math .Title, .path-calendar #Math .NumDays, .path-calendar #Math .NumCycles, .path-calendar #Math .NumYears {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  float: left;
  color: #fff;
}
.path-calendar #Math .Title {
  padding: 8px 4% 0 0;
  text-align: right;
  width: 52%;
}
@media screen and (max-width: 1000px) {
  .path-calendar #Math .Title {
    padding: 2px 1px 0 0;
  }
}
@media screen and (max-width: 600px) {
  .path-calendar #GS {
    left: 30% !important;
  }
  .path-calendar #Math .Title {
    width: 100%;
  }
}
.path-calendar #Math .Title:after {
  content: ":";
}
.path-calendar #Math .NumDays, .path-calendar #Math .NumCycles, .path-calendar #Math .NumYears {
  width: 40%;
  padding: 8px 0 0 0;
}
.path-calendar .SeeTheEnd {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
  font-weight: bold;
  float: left;
  width: 100%;
  padding: 8px 0;
}
.path-calendar .SeeTheEnd a {
  text-decoration: none;
}
.path-calendar #Math .NumDays:after {
  content: " days";
  clear: both;
}
.path-calendar .region-content {
  border-top: 0px dotted #ccc;
  padding-top: 1em;
  margin-top: 1em;
}
.path-calendar .region-content h1 {
  text-transform: uppercase;
}
.path-calendar section.header {
  position: fixed;
  top: 175px;
  left: 0;
  width: 100%;
  z-index: 10;
}
@media (max-width: 991px) {
  .path-calendar section.header {
    top: 135px;
  }
}
.path-calendar.toolbar-fixed .region-content {
  margin-top: 1em;
}
.path-calendar.toolbar-fixed section.header {
  top: 255px;
}
@media (max-width: 991px) {
  .path-calendar.toolbar-fixed section.header {
    top: 220px;
  }
}
.path-calendar .view-significant-dates .content, .path-calendar .view-significant-dates footer {
  display: none;
}
.path-calendar .breadcrumb {
  display: none;
}
.path-calendar .loadhtmlwrapper {
  margin-top: -1em;
}
.path-calendar .main-container {
  max-width: 100%;
  width: 100%;
}
.path-calendar .main-container .row section.col-sm-12, .path-calendar .main-container .row section.col-sm-9 {
  padding: 0;
}
.path-calendar .main-container .row section.col-sm-12 section, .path-calendar .main-container .row section.col-sm-9 section {
  padding: 1em;
}
.path-calendar #block-heroimages {
  display: none;
}
.path-calendar .key {
  display: flex;
  max-width: 650px;
  margin: auto;
}
@media (max-width: 991px) {
  .path-calendar .key {
    flex-wrap: wrap;
  }
}
.path-calendar .key .label {
  flex: 1 33%;
  padding: 1em;
  font-size: 1.2em;
  text-align: center;
  color: #fff;
}
@media (max-width: 991px) {
  .path-calendar .key .label {
    flex: 1 100%;
  }
}
.path-calendar .key .label.GC {
  background: var(--GC);
}
@media (min-width: 992px) {
  .path-calendar .key .label.GC {
    border-radius: 20px 0 0 20px;
  }
}
.path-calendar .key .label.HCC {
  background: var(--HCC);
}
.path-calendar .key .label.SabbathLegend {
  background: #fff;
  color: #111;
}
.path-calendar .key .label.SC {
  background: var(--SC);
}
@media (min-width: 992px) {
  .path-calendar .key .label.SC {
    border-radius: 0 20px 20px 0;
  }
}
.path-calendar .actions {
  width: 100%;
  display: flex;
  justify-content: center;
}
.path-calendar .actions.hidden {
  display: none;
}
.path-calendar .actions .caption {
  order: 2;
  padding: 0 2em;
}
.path-calendar .actions .prev {
  order: 1;
  padding-right: 2em;
}
.path-calendar .actions .next {
  order: 3;
  padding-left: 2em;
}
.path-calendar #block-calendarblock, .path-calendar #block-calendarpagebottomtext {
  max-width: 976px;
  width: 80%;
  margin: auto;
}
.path-calendar h1 {
  text-align: center;
}
.path-calendar h1.page-header {
  display: none;
}
.path-calendar .block-calendar-generator-nav {
  background-color: #28599b;
  box-shadow: 0px 0px 5px #000;
  margin-bottom: 2em;
  border-radius: 5px;
  font-size: 2em;
}
@media (max-width: 991px) {
  .path-calendar .block-calendar-generator-nav {
    font-size: 1.5em;
  }
}
.path-calendar .block-calendar-generator-nav .calendar_nav {
  padding: 1em 0;
  font-size: 1.4em;
}
.path-calendar .block-calendar-generator-nav .calendar_nav .input-group {
  height: 1.5em;
}
.path-calendar .block-calendar-generator-nav .calendar_nav .input-group .form-control {
  border-color: #f1cb98;
}
.path-calendar .block-calendar-generator-nav .calendar_nav .input-group .input-group-addon {
  color: #fff;
  display: flex;
  color: #f1cb98;
  font-weight: bold;
  align-items: center;
  background-color: transparent !important;
  border: 1px solid #f1cb98;
  cursor: pointer;
}
.path-calendar .block-calendar-generator-nav .calendar_nav .input-group .input-group-addon.prev {
  margin: 0;
}
.path-calendar .block-calendar-generator-nav .calendar_nav .text-right {
  display: flex;
  justify-content: end;
}
.path-calendar .block-calendar-generator-nav .calendar_nav div.generateBtn {
  display: flex;
  align-items: center;
}
.path-calendar .block-calendar-generator-nav .calendar_nav div.generateBtn .btn {
  color: #f1cb98;
  line-height: 3.3em;
  font-weight: bold;
  border-color: #f1cb98;
  background-color: transparent;
}
.path-calendar .block-calendar-generator-nav .calendar_nav div.generateBtn .btn.active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 767px) {
  .path-calendar .block-calendar-generator-nav .calendar_nav div.generateBtn .btn {
    display: block;
    width: 100%;
    line-height: inherit;
  }
}
.path-calendar .block-calendar-generator-nav .calendar_nav .currentEra .btn {
  color: #f1cb98;
  font-weight: bold;
  background-color: transparent;
  border-color: #f1cb98;
}
.path-calendar .block-calendar-generator-nav .calendar_nav .currentEra .btn.active {
  background-color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 991px) {
  .path-calendar .block-calendar-generator-nav .calendar_nav .currentEra {
    width: 100% !important;
  }
  .path-calendar .block-calendar-generator-nav .calendar_nav .currentEra .generateBtn {
    display: block;
    width: 100%;
  }
}
.path-calendar .SignificantDateRow {
  margin-bottom: 1em;
}
.path-calendar .SignificantDateRow .views-field-body {
  display: none;
}
.path-calendar .SignificantDateRow.showing .views-field-body {
  display: block;
}
.path-calendar .SignificantDateRow h2.field-content {
  padding: 20px;
  position: relative;
  /*
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: calc(100vw - 10px);
  */
}
.path-calendar .SignificantDateRow h2 a {
  border-radius: 0.5em;
  font-size: 1em;
  display: block;
  color: #f1cb98;
  background: #1F1F1F;
  border-color: #1F1F1F;
  text-align: center;
  border-top: 1px solid #f1cb98;
  border-bottom: 1px solid #f1cb09;
  padding: 1em;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.path-calendar .calendar_legend {
  margin: 1em auto;
  padding: 1em;
  background: rgba(13, 110, 253, 0.25);
}
.path-calendar .calendarWrapperTop {
  padding-bottom: 1em;
}
.path-calendar .calendarWrapper {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  padding: 2em;
  background: #e9e9e9;
}
@media (max-width: 991px) {
  .path-calendar .calendarWrapper {
    padding: 2em 1.5em;
  }
}
.path-calendar .calendarWrapper .clear {
  clear: both;
}
.path-calendar .calendarWrapper .calendarMarkup {
  margin-bottom: 10px;
  /*
  display:grid;

  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  grid-gap: 5px;
  */
}
.path-calendar .calendarWrapper .calendarMarkup .container {
  width: 100%;
}
.path-calendar .calendarWrapper .calendarMarkup #DemoOfNextYear {
  display: none;
}
.path-calendar .calendarWrapper .calendarMarkup .Disclaimer {
  text-align: center;
  display: none;
}
.path-calendar .calendarWrapper .calendarMarkup .ArrowCenter {
  display: none;
}
.path-calendar .calendarWrapper .calendarMarkup .ArrowCenter#up {
  float: right;
}
.path-calendar .calendarWrapper .calendarMarkup .HighSabbath.Chart {
  display: none;
}
.path-calendar .calendarWrapper .calendarMarkup::after {
  display: block;
  clear: both;
}
.path-calendar .calendarWrapper .calendarMarkup .Column {
  border: 1px solid #000;
  background-color: #2196F3;
  margin: 0 0 10px;
  float: left;
  width: 4.9%;
  min-width: 100px;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-style: italic;
  font-size: 20px;
  line-height: 30px;
  height: 50px;
  position: relative;
  text-align: center;
  font-weight: bold;
  text-align: center;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.GC {
  background-color: #1f1f1f;
  color: #fff;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.GC.Month {
  background: transparent;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.HCC {
  background: #a50000;
  color: #fff;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.HCC.Month {
  background-color: transparent;
  color: #7f9aac;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.HCC.Month.first {
  background: #a50000;
  white-space: nowrap;
  text-shadow: 1px 1px 5px #000000;
  color: #fff;
  padding: 3px;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.HCC.Month.first span {
  position: relative;
  z-index: 98;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC {
  background: var(--SC);
  color: #fff;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.Month {
  background: transparent;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.Month.first {
  background: var(--SC);
  color: #fff;
}
.path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.SabbathCount, .path-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.SabbathCountEnd {
  background: #fff;
  color: #000;
}
.path-calendar .calendarWrapper .calendarMarkup > div {
  display: block;
}
.path-calendar h3 {
  clear: both;
}
.path-calendar #block-views-block-expanded-calendar-information-block-1 {
  position: fixed;
  width: 100%;
  height: calc(100vh - 60px);
  height: 150px;
  padding: 2em;
  background: rgba(255, 255, 255, 0.2);
  top: 60px;
  left: 0;
  z-index: 78;
  overflow: hidden;
  position: static;
  border: 2px dashed #ccc;
  color: #000;
  margin: 2em 0;
}
.path-calendar #block-views-block-expanded-calendar-information-block-1 .expanded-calendar-wrapper .view-content {
  margin-bottom: 2em;
  display: flex;
}
.path-calendar #block-views-block-expanded-calendar-information-block-1 .expanded-calendar-wrapper .view-content .views-row {
  flex: 1 auto;
}
.path-calendar #block-calendarpagebottomtext {
  margin-top: 2em;
}
.path-calendar #block-calendarpagebottomtext h2 {
  display: none;
}
.path-calendar #NewCalendarContainer {
  /*[data-name="prepentecost"]{
  	&::after {
  		background-color: $pentecost;
  		width: 10px;
  		height:120px;
  	}
  }
  */
}
.path-calendar #NewCalendarContainer div.month .Column {
  position: relative;
}
.path-calendar #NewCalendarContainer div.month .Column .weekgrid:hover {
  position: relative;
  z-index: 100;
  box-shadow: 0 0 5px #000;
}
.path-calendar #NewCalendarContainer .Column.pentecostcount {
  position: relative;
}
.path-calendar #NewCalendarContainer .Column.pentecostcount::before {
  content: attr(data-count);
  display: block;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 56;
  font-weight: bold;
  text-shadow: 1px 1px #000;
  font-size: 18px;
  width: 100%;
  text-align: right;
  color: #0de1ec;
}
.path-calendar #NewCalendarContainer .Column.feastoftabernaclesAndLGDmonth::before {
  background-color: #fa8a48;
  width: 50px;
  height: 120px;
  content: "";
  display: block;
  right: 15px;
  position: absolute;
}
.path-calendar #NewCalendarContainer .afterContent {
  position: relative;
}
.path-calendar #NewCalendarContainer .afterContent::after {
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  right: 0;
  width: 3px;
  top: 0;
}
.path-calendar #NewCalendarContainer .afterContent .Cell span {
  position: relative;
  z-index: 6;
}
.path-calendar #NewCalendarContainer [data-name=passover]::after {
  background-color: #f70d48;
  width: 10px;
  right: 5px;
  height: 120px;
}
.path-calendar #NewCalendarContainer [data-name=unleavenedbread]::after {
  background-color: #a07833;
  right: auto;
  left: -7px;
  width: calc(50% + 7px);
  z-index: 4;
  height: 120px;
}
.path-calendar #NewCalendarContainer [data-name=atonement]::after {
  background-color: #e647fb;
  width: 10px;
  right: 5px;
  height: 120px;
}
.path-calendar #NewCalendarContainer [data-name=feastoftrumpets]::after {
  background-color: #f2d316;
  width: 10px;
  right: 5px;
  height: 120px;
}
.path-calendar #NewCalendarContainer [data-name=feastoftabernacles]::after {
  background-color: #fa8a48;
  width: 10px;
  right: 5px;
  height: 120px;
}
.path-calendar #NewCalendarContainer [data-name=lastgreatday]::after {
  background-color: #15be27;
  width: 10px;
  right: 5px;
  height: 120px;
}

.view-faqs .views-field-title a {
  display: block;
  padding: 1em;
  background: #eee;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}
.view-faqs .views-field-title a.active, .view-faqs .views-field-title a:active {
  background-color: #2196F3;
  color: #fff;
}
.view-faqs .views-field-title a.active::after, .view-faqs .views-field-title a:active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0;
  position: relative;
  bottom: -27px;
  z-index: 5;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #2196F3;
}

.view-id-this_year_stats .views-row {
  display: flex;
  flex-direction: column;
}
.view-id-this_year_stats .views-row .views-field {
  display: flex;
}
.view-id-this_year_stats .views-row .views-label {
  flex: 1;
}
.view-id-this_year_stats .views-row .field-content {
  flex: 1;
  font-weight: bold;
}

.view-holy-days .table td, .view-holy-days .table th {
  padding-left: 0;
  padding-right: 0;
}
.view-holy-days .table td:not(:first-child) {
  display: none;
}
.view-holy-days .table th:not(:first-child) {
  display: none;
}

.omnibox {
  border-radius: 1em;
  border: 1px solid #ccc;
  padding: 1em;
  margin-bottom: 2em;
}
.omnibox input[type=text], .omnibox select {
  border: none;
}
.omnibox button {
  background: #eee;
  border: none;
}

.view-featured-significant-dates .views-field-nothing .field-content > a,
.view-featured-significant-dates .views-field-title .field-content > a,
.view-significant-dates-base .views-field-nothing .field-content > a,
.view-significant-dates-base .views-field-title .field-content > a {
  background: #111;
  color: #fff;
  padding: 1em;
  display: inline-block;
  border-radius: 1em;
  font-size: 0.9em;
  margin-bottom: 0.5em;
  text-decoration: none;
}
.view-featured-significant-dates .views-field-nothing .field-content > a:hover,
.view-featured-significant-dates .views-field-title .field-content > a:hover,
.view-significant-dates-base .views-field-nothing .field-content > a:hover,
.view-significant-dates-base .views-field-title .field-content > a:hover {
  background: #2196F3;
  color: #fff;
}

body.page-node-type-calendar {
  /*--GC: #e464bc;
  --HCC: #5cb665;
  --SC: #629fea;
  */
  /*
  label[for='gregorianToggle'] {
  	background: var(--GC);
  }
  label[for='hebrewToggle'] {
  	background: var(--HCC);
  }
  label[for='solarToggle'] {
  	background: var(--SC);
  }
  */
}
body.page-node-type-calendar .bg-tabernacles, body.page-node-type-calendar .bg-tabernaclesend, body.page-node-type-calendar .bg-passover, body.page-node-type-calendar .bg-unleavenedbread, body.page-node-type-calendar .bg-pentecost, body.page-node-type-calendar .bg-trumpets, body.page-node-type-calendar .bg-atonement, body.page-node-type-calendar .bg-lastgreatday {
  border-radius: 10px;
}
body.page-node-type-calendar .calendarWrapper .calendarMarkup .Column .Cell {
  text-align: right;
}
body.page-node-type-calendar .loadhtmlwrapper {
  margin-top: 1em;
}
body.page-node-type-calendar .Column .hcc-wrapper {
  position: relative;
}
body.page-node-type-calendar .Column .hcc-wrapper:hover {
  transform: scale(1.5);
  z-index: 786;
  transition: all 0.5s ease;
}
body.page-node-type-calendar .Column .sc-wrapper {
  position: relative;
}
body.page-node-type-calendar .Column .sc-wrapper:hover {
  transform: scale(1.5);
  z-index: 786;
  transition: all 0.5s ease;
}
body.page-node-type-calendar .Column .gc-wrapper {
  position: relative;
}
body.page-node-type-calendar .Column .gc-wrapper:hover {
  transform: scale(1.5);
  z-index: 786;
  transition: all 0.5s ease;
}
body.page-node-type-calendar .weekgrid {
  height: 30px;
  background: var(--GC);
}
body.page-node-type-calendar .weekgrid .daygrid {
  font-size: 8px;
  text-align: center;
  min-width: 12px;
}
body.page-node-type-calendar .weekgrid .daygrid:before {
  content: attr(day-of-week);
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  font-size: 8px;
  position: absolute;
  top: -12px;
  width: 100%;
}
body.page-node-type-calendar #block-biblicalcalendar-page-title {
  text-align: center;
}
body.page-node-type-calendar #block-biblicalcalendar-breadcrumbs .breadcrumb {
  display: none;
}
body.page-node-type-calendar .legend {
  margin: 2em 0;
}
body.page-node-type-calendar .legend label {
  display: inline;
  width: 100%;
  padding: 0.25em;
}
body.page-node-type-calendar .legend .form-check {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 0.5em;
}
body.page-node-type-calendar .hcc-wrapper {
  display: flex;
  flex-direction: column;
}
body.page-node-type-calendar .hcc-wrapper .HCC {
  order: 2;
}
body.page-node-type-calendar .hcc-wrapper .HCC.Month {
  order: 1;
}
body.page-node-type-calendar .calendarWrapper {
  width: auto;
  margin-left: 2em;
  left: unset;
  background-color: transparent;
  padding: 0;
}
body.page-node-type-calendar .calendarWrapper .calendarMarkup .Column {
  background: transparent;
}
body.page-node-type-calendar .calendarWrapper .calendarMarkup .Column .Cell.GC {
  background-color: var(--GC);
  color: #fff;
}
body.page-node-type-calendar .calendarWrapper .calendarMarkup .Column .Cell.GC:not(.Month) {
  border-bottom: 0px solid #fff;
}
body.page-node-type-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.Month {
  height: 25px;
}
body.page-node-type-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.Month span {
  font-size: 14px;
}
body.page-node-type-calendar .calendarWrapper .calendarMarkup .Column .Cell.SC.Month.SabbathCountEnd {
  font-size: inherit;
}
body.page-node-type-calendar.amyear-1 .month.Mar[data-month-count="1"] {
  justify-content: flex-end;
}
body.page-node-type-calendar #NewCalendarContainer {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}
body.page-node-type-calendar #NewCalendarContainer .Cell.GC:not(.first.Month) span {
  align-items: baseline;
  display: inline;
}
body.page-node-type-calendar #NewCalendarContainer .Cell.GC:not(.first.Month) span:before {
  content: "SAT";
  font-size: 8px;
  margin-right: 3px;
  display: inline-block;
}
body.page-node-type-calendar #NewCalendarContainer div.month {
  float: none;
  display: flex;
  flex: 1 33%;
  /*&.columns-4 {
  	flex: 1 25%;
  	max-width: 25%;
  	min-width: 25%;;
  }
  &.column-5 {
  	flex: 1 20%;
  	max-width: 20%;
  	min-width: 20%;
  }
  	*/
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column {
  float: none;
  width: auto;
  min-width: 1px;
  max-width: 25%;
  flex: 1 auto;
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column .Cell.GC {
  background-color: var(--GC);
  color: #fff;
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column .Cell.Month.GC.first span {
  /*transform: rotate(-90deg);*/
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  text-indent: 3px;
  font-size: 15px;
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column .Cell span {
  display: flex;
  justify-content: end;
  margin-right: 2px;
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column .Cell.HCC {
  background-color: var(--HCC);
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column .Cell.HCC.Month {
  background-color: var(--HCC);
  color: #7f9aac;
  position: relative;
  padding: 0;
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column .Cell.HCC.Month.first {
  white-space: nowrap;
  color: #fff;
  padding: 3px;
  text-align: left;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column .Cell.HCC.Month.first span {
  justify-content: start;
  position: relative;
  z-index: 98;
}
body.page-node-type-calendar #NewCalendarContainer div.month .Column .Cell.SabbathCount {
  text-align: right;
}
@media (max-width: 991px) {
  body.page-node-type-calendar #NewCalendarContainer div.month {
    max-width: 100%;
    flex: 1 100%;
  }
}
body.page-node-type-calendar #yearBar {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 1em;
  padding: 0 30px;
  font-size: 2em;
  margin-bottom: 35px;
}
body.page-node-type-calendar #yearBar .d-flex {
  display: flex;
  justify-content: space-between;
}
body.page-node-type-calendar #yearBar .yearAction {
  text-decoration: none;
  font-weight: bold;
}
body.page-node-type-calendar .view-id-faqs .view-content .views-row .views-field-title {
  display: none;
}
@media (max-width: 991px) {
  body.page-node-type-calendar .view-id-faqs .view-header {
    display: none;
  }
  body.page-node-type-calendar .view-id-faqs .view-content .views-row .views-field-title {
    display: block;
    margin-bottom: 0.3em;
  }
}
body.page-node-type-calendar .view-id-faqs .content-pane {
  display: none;
}
body.page-node-type-calendar .view-id-faqs .content-pane.active {
  display: block;
}
body.page-node-type-calendar .mobileToggle {
  position: fixed;
  margin: 0;
  left: 0;
  top: 50%;
  z-index: 100;
}
@media (min-width: 992px) {
  body.page-node-type-calendar .mobileToggle {
    display: none;
  }
}
body.page-node-type-calendar .mobileToggle i, body.page-node-type-calendar .mobileToggle svg {
  transition: all 0.3s ease;
}
body.page-node-type-calendar .mobileToggle.open svg, body.page-node-type-calendar .mobileToggle.open i {
  transform: rotate(180deg);
}
body.page-node-type-calendar.gregorianToggle .Cell.GC, body.page-node-type-calendar.gregorianToggle .weekgrid {
  background-color: #ccc !important;
  transition: all 0.3s ease;
}
body.page-node-type-calendar.hebrewToggle .Cell.HCC {
  background-color: #ccc !important;
  transition: all 0.3s ease;
}
body.page-node-type-calendar.solarToggle .Cell.SC {
  background-color: #ccc !important;
  transition: all 0.3s ease;
}
@media (max-width: 991px) {
  body.page-node-type-calendar main > .container > .row .order-1 .region-content article .node__content .layout--twocol-section {
    flex-wrap: nowrap;
    flex-direction: row;
    position: relative;
  }
}
@media (max-width: 991px) {
  body.page-node-type-calendar main > .container article .layout__region--first {
    position: absolute;
    top: 0;
    left: 0px;
    transform: translateX(-100vw);
    transition: all 0.3s ease;
    margin-left: 1em;
    width: calc(100% - 2em);
    padding: 1em;
  }
  body.page-node-type-calendar main > .container article .layout__region--first.open {
    transform: translateX(0);
    box-shadow: 0 0 5px #000;
    background: #fff;
    z-index: 100;
  }
}
@media (max-width: 991px) {
  body.page-node-type-calendar main > .container article .layout__region--second {
    margin-left: 0;
    width: 100%;
    padding: 1em;
    flex: 1 100%;
  }
}

.block-views-blockbiblical-charts-block-1 {
  margin-top: 2em;
}

.view-id-biblical_charts {
  margin-top: 2em;
}
.view-id-biblical_charts .view-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Creates responsive columns */
  gap: 20px; /* Gap between grid items */
}
.view-id-biblical_charts .view-content .views-row {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  text-align: center;
}
.view-id-biblical_charts .view-content .views-row .views-field-title {
  font-size: 2em;
}

.block-views-blocktimeline-chart-full-block-1 .field--name-field-media-document .file-download {
  display: inline-block;
  font-size: 1.4em;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.modal {
  display: none;
}
.modal.in {
  display: flex;
  height: 100vh;
  align-content: center;
}
.modal.in .modal-dialog {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

/* timeline */
.view-timeline {
  position: relative;
}
.view-timeline .timeline-line {
  transition: all ease 0.3s;
  border-left: 2px solid #b2ccdd;
  position: absolute;
  width: 1px;
  left: 0;
}
.view-timeline .timeline-line::before {
  content: "";
  border-top: 2px solid #b2ccdd;
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
}
.view-timeline .timeline-line::after {
  content: "";
  border-top: 2px solid #b2ccdd;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
}
.view-timeline .timeline-line.hover {
  border-color: orange;
}
.view-timeline .timeline-line.hover::before {
  border-color: orange;
}
.view-timeline .timeline-line.hover::after {
  border-color: orange;
}
.view-timeline .view-content {
  position: relative;
  z-index: 300;
}
.view-timeline .views-row {
  font-size: 1.3em;
  margin: 1em 0;
  display: flex;
  transition: all ease 0.3s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background: #fff;
}
@media (max-width: 991px) {
  .view-timeline .views-row {
    flex-wrap: wrap;
  }
  .view-timeline .views-row .views-field-field-gc-year {
    flex: 1 1%;
    max-width: 2.5em;
  }
}
.view-timeline .views-row .views-field-title {
  transition: all ease 0.3s;
}
.view-timeline .views-row.hover {
  border: 1px solid orange;
}
.view-timeline .views-row.hover .views-field-title {
  text-indent: 2px;
}
.view-timeline .views-row.duplicate .views-field-field-gc-era, .view-timeline .views-row.duplicate .views-field-field-gc-year {
  visibility: hidden;
}
.view-timeline .views-row.connected {
  border-left: 3px solid pink;
}
.view-timeline .views-row > * {
  flex: 1 auto;
  padding: 0.4em;
}
.view-timeline .views-row > *.views-field-field-gc-year {
  order: 1;
  background: #333;
  color: #fff;
  padding-right: 0;
}
.view-timeline .views-row > *.views-field-field-gc-era {
  order: 2;
  background: #333;
  color: #fff;
}
.view-timeline .views-row > *.views-field-title {
  order: 3;
  flex: 1 99%;
}
.view-timeline .views-row > *.views-field-field-am-year {
  position: absolute;
  right: 0;
  white-space: nowrap;
  display: flex;
}
.view-timeline .views-row > *.views-field-field-am-year .field-content {
  margin-left: 5px;
}
.view-timeline .views-row > *.views-field-field-related {
  position: absolute;
  right: 50px;
  display: none;
}
.view-timeline.horiz {
  overflow: auto;
  height: 350px;
}
.view-timeline.horiz .view-content {
  position: static;
  margin-left: 0 !important;
  top: 0;
  left: 0;
  height: 350px;
  overflow: auto;
  display: flex;
}
.view-timeline.horiz .view-content .views-row {
  flex: 1 auto;
  min-width: 300px;
  display: block;
  position: relative;
}
.view-timeline.horiz .view-content .views-row *.views-field-field-am-year {
  position: static;
  right: 0;
  clear: both;
  width: 100%;
  float: none;
  display: flex;
}
.view-timeline.horiz .view-content .views-row *.views-field-field-related {
  position: static;
  right: 50px;
}
.view-timeline.horiz .view-content .views-row *.views-field-field-gc-era {
  float: left;
  position: absolute;
  top: 0;
  left: 0;
}
.view-timeline.horiz .view-content .views-row *.views-field-title {
  margin-top: 50px;
}
.view-timeline.horiz .view-content .views-row *.views-field-field-gc-year {
  float: left;
  position: absolute;
  top: 0;
  left: 38px;
}

.view-biblical-articles .dataTable thead th {
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  white-space: nowrap;
}
.view-biblical-articles .dataTable tr {
  background-color: transparent;
}
.view-biblical-articles .dataTable tr.odd {
  background-color: rgba(0, 0, 0, 0.2);
}
.view-biblical-articles .dataTable tr.even {
  background-color: transparent;
}
.view-biblical-articles .dataTables_filter input {
  height: 35px;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
}
.view-biblical-articles .dataTables_length select {
  color: #333;
  height: 34px;
}
@media (max-width: 991px) {
  .view-biblical-articles #datatable {
    display: block;
  }
  .view-biblical-articles #datatable tbody {
    display: flex;
    flex-wrap: wrap;
  }
  .view-biblical-articles #datatable tbody tr {
    display: flex;
    flex-wrap: wrap;
  }
  .view-biblical-articles #datatable tbody tr td {
    flex: 1 100%;
  }
  .view-biblical-articles #datatable tbody tr td a {
    font-weight: bold;
  }
}

.front-page-wrapper {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  height: 365px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
}
.front-page-wrapper .scroller_wrapper ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  animation: banner linear 100s infinite;
  position: relative;
  top: 0px;
}
.front-page-wrapper .scroller_wrapper ul li {
  flex: 1 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 365px;
  width: 342px;
  min-width: 342px;
  background-repeat: no-repeat;
  background-size: cover;
}
.front-page-wrapper .scroller_wrapper ul li.slide1 {
  background-image: url(../images/bannerImage_01.jpg);
}
.front-page-wrapper .scroller_wrapper ul li.slide2 {
  background-image: url(../images/bannerImage_02.jpg);
}
.front-page-wrapper .scroller_wrapper ul li.slide3 {
  background-image: url(../images/bannerImage_03.jpg);
}
.front-page-wrapper .scroller_wrapper ul li.slide4 {
  background-image: url(../images/bannerImage_04.jpg);
}
.front-page-wrapper .scroller_wrapper ul li.slide5 {
  background-image: url(../images/bannerImage_05.jpg);
}
.front-page-wrapper .scroller_wrapper ul li.slide6 {
  background-image: url(../images/bannerImage_06.jpg);
}
.front-page-wrapper .scroller_wrapper ul li.slide7 {
  background-image: url(../images/bannerImage_07.jpg);
}

@keyframes banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.block-views-blockaudio-block-1 h3:not(.field-content) {
  margin: 0.5em 0;
}
.block-views-blockaudio-block-1 h3:not(.field-content) a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-size: 1.3em;
}

.block-views-blockvideo-timelines-block-1 {
  margin-top: 4em;
}
.block-views-blockvideo-timelines-block-1 .views-row {
  margin: 2em 0;
  padding-bottom: 2em;
  border-bottom: 2px dashed #ccc;
}
@media (min-width: 992px) {
  .block-views-blockvideo-timelines-block-1 .views-row .video_real video {
    max-width: 80%;
  }
}

body {
  overflow-x: hidden;
}
body.h-100 {
  min-height: 100%;
  height: auto !important;
}

.field--name-field-media-document .file-download {
  color: #fff !important;
}

#navbarSupportedContent .dropdown-menu .nav-item:hover {
  color: #333;
}

.block-views-blockaudio-block-1 h3.field-content {
  font-size: 1.3em;
}
.block-views-blockaudio-block-1 h3.field-content a {
  text-decoration: none;
  color: #333;
  pointer-events: none;
}

header {
  background-color: #28599b;
  overflow: visible;
}
header .navbar {
  color: #fff;
  position: relative;
  background-image: url("../images/headerBG.png");
  background-size: cover;
}
header .navbar .site-title {
  display: none;
}
header .navbar .navbar-nav {
  --bs-nav-link-color: $linkColor;
  --bs-navbar-active-color: $linkColor;
}
header .navbar .navbar-nav .is-active {
  font-weight: bold;
}
header .navbar .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}
header .navbar .navbar-nav .dropdown:hover .dropdown-menu li a:hover {
  color: #333;
}
header .navbar .navbar-nav li a:hover {
  color: #fff;
  text-decoration: underline;
}
header .navbar .navbar-nav li a.is-active {
  font-weight: bold;
  color: #fff;
}
header .menu--secondary-menu ul.navbar-nav li a {
  font-size: 1.2em;
  background: #4a98dc;
  margin-right: 0.5em;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
}
header .menu--secondary-menu ul.navbar-nav li a:hover {
  background: rgba(255, 255, 255, 0.4);
  color: #f1cb98;
}
header .menu--secondary-menu ul.navbar-nav li a.is-active {
  color: #f1cb98;
  text-decoration: underline;
}
@media (max-width: 991px) {
  header .navbar-collapse {
    position: absolute;
    left: 0;
    width: 100%;
    top: 62px;
    z-index: 9;
    background-color: #28599b;
  }
}

.topBar {
  background: #333;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
}
.topBar .region-topbar {
  display: flex;
  justify-content: space-between;
}
.topBar .region-topbar .block-search {
  width: 200px;
  float: left;
  height: 35px;
}
.topBar .region-topbar .block-search h2 {
  display: none;
}
.topBar .region-topbar .block-search .search-block-form {
  border-color: #111;
  color: #000;
  box-shadow: inset 0 0 20px #888;
}
.topBar .region-topbar .block-search .search-block-form .form-control {
  height: 34px;
  position: relative;
  top: 4px;
}
.topBar .region-topbar .block-search .search-block-form .form-actions {
  position: relative;
  top: 3px;
}
.topBar .region-topbar .block-search .button {
  border-color: #222;
  background: #444;
}
.topBar .region-topbar .block-menu {
  display: none;
}
.topBar .region-topbar .block-menu ul.nav {
  display: flex;
}
.topBar .region-topbar .language-switcher-language-url > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.topBar .region-topbar .language-switcher-language-url > ul li {
  list-style-type: none;
  position: relative;
  padding: 0 3px;
  line-height: 44px;
}
@media (min-width: 768px) {
  .topBar .region-topbar .language-switcher-language-url > ul li {
    margin-left: 8px;
    padding: 0 10px;
  }
}
.topBar .region-topbar .language-switcher-language-url > ul li.is-active {
  background-color: rgba(0, 0, 0, 0.4);
}
.topBar .region-topbar .language-switcher-language-url > ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-indent: 999em;
  display: block;
  width: 33px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.topBar .region-topbar .language-switcher-language-url > ul li a::before {
  content: attr(hreflang);
  position: absolute;
  top: 0;
  color: #333;
  text-transform: uppercase;
  text-align: center;
  width: 33px;
  font-weight: bold;
  color: #fff;
  right: 0;
  text-indent: 0;
}
@media (min-width: 768px) {
  .topBar .region-topbar .language-switcher-language-url > ul li a::before {
    content: none;
  }
}
@media (min-width: 768px) {
  .topBar .region-topbar .language-switcher-language-url > ul li a {
    width: auto;
    text-indent: 0;
  }
}
.topBar .region-topbar .language-switcher-language-url > ul li a img {
  display: none;
  height: 12px;
  width: 24px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .topBar .region-topbar .language-switcher-language-url > ul li a img {
    display: inline-block;
  }
}

main .region-breadcrumb .block-page-title-block h1 {
  margin-top: 2em;
}

.twentyKformWrapper {
  background: #f7f7f7;
  border-radius: 1em;
  padding: 2em 1em;
}

.webform-submission-add-form h2 {
  font-size: 3em;
}
.webform-submission-add-form .webform-custom-submit {
  font-size: 2em;
  width: 100%;
  float: right;
}

.footer {
  background: #333;
  color: #fff;
  margin-top: 4em;
}/*# sourceMappingURL=style.css.map */