$linkColor: #336688;
$timelineBorderLine: #b2ccdd;
$bgColor: #28599b;
$linkColor: #fff;     
$headingColor: #f1cb98;   
$bodyBG: #fff;   
$red: #822802;
$squash:#c39c6b;
$offwhite: #fbf4e9;
$cream: #f0e1c4;
$lightgreen: #b3c7ad;
$mediumgreen: #698367;
$darkgreen: #5a6649;





@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

@import "partials/mediafunctions";  
@import 'partials/front'; 
@import 'partials/generator';  
@import 'partials/newgenerator'; 
@import 'partials/duncan';
@import 'partials/charts';
@import 'partials/timeline'; 
@import 'partials/articles';
@import 'partials/hero'; 
@import 'partials/audiovideo';  
@import 'partials/branding';


:root {
    --red: #822802;
    --squash:#c39c6b;
    --offwhite: #fbf4e9;
    --cream: #f0e1c4;
    --lightgreen: #b3c7ad;
    --mediumgreen: #698367;
    --darkgreen: #5a6649;
}

$colors: (
  red: var(--red),
  squash: var(--squash),
  offwhite: var(--offwhite),
  cream: var(--cream),
  lightgreen: var(--lightgreen),
  mediumgreen: var(--mediumgreen),
  darkgreen: var(--darkgreen)
);

@mixin color-utilities($name, $value) {
  // Text Color Class
  .text-#{$name} {
    color: $value!important;
  }

  // Background Color Class
  .bg-#{$name} {
    background-color: $value!important;
  }

  // Border Color Class
  .border-#{$name} {
    border-color: $value!important;
  }
}

@each $name, $value in $colors {
  @include color-utilities($name, $value);
}

.btn-primary {
   @extend .bg-red;
   @extend .border-cream; 
   @extend .text-cream;  
    &:hover {
         background-color: darken($red, 10%);
         border-color: darken($cream, 10%);
    }
}

.mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
}
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
 
body {
    overflow-x: hidden;   
  
    &.h-100 {     
        min-height: 100%;
        height: auto!important;
    } 
    
    h2, h2, h3 {
        @extend .montserrat-400;
        span {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
        }
    }

}       
  
.field--name-field-media-document .file-download{
    color: #fff!important; 
 }

 #navbarSupportedContent {
    .dropdown-menu {
        .nav-item {
            &:hover {
                color:#333;
            }
        }
    }
 }

 .block-views-blockaudio-block-1 {
    h3 {
        &.field-content {
            font-size: 1.3em;
            a {
                text-decoration:none;
                color: #333;
                pointer-events: none;
            }
        }
    }
 }

   
 
header {
    background-color: $bgColor;
    overflow: visible;
    .navbar {
        
        color: $linkColor;
        position: relative;
        .site-title {
            display: none;
        }
        background-image:url("../images/headerBG.png");      
        background-size: cover; 

        .navbar-nav {
            --bs-nav-link-color: $linkColor;
            --bs-navbar-active-color: $linkColor;

            .is-active {
                font-weight: bold; 
            }

            .dropdown {
                &:hover {
                    .dropdown-menu {
                        display: block;
                        li {
                            a {
                                &:hover {
                                    color:#333;
                                    
                                }
                            }
                        }
                    }
                
                }
            }
            li {
                a {
                    &:hover {
                        color: $linkColor;
                        text-decoration: underline;
                    }
                    &.is-active {
                        font-weight: bold; 
                        color: $linkColor;
                    }
                }
            }
        }
    }
  
    .menu--secondary-menu {
        ul.navbar-nav { 
            li {
                a {
                    font-size: 1.2em;
                    background:#4a98dc;
                    margin-right: 0.5em;
                    color: #fff;
                    font-weight: bold;
                    border-radius: 4px; 
                    &:hover {
                        background: rgba(255,255,255,.4);
                        color:  $headingColor;
                    }
                    &.is-active {
                        
                        color:  $headingColor;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .navbar-collapse {
        @include respond-below(md){
            position: absolute;
            left: 0;
            width: 100%;
            top: 62px;
            z-index: 9;
            background-color: $bgColor;
        }
    }
}

.topBar {
    background: #333;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;

    .region-topbar {
        display: flex;
        justify-content: end!important;
        .form-search.form-control {
            border-radius: 0;
        }

        .block-search {
            width: auto;
            float: left;
            height: 35px;

            h2 {
                display: none;
            }

            .search-block-form {
                border-color: #111;
                color: #000;
                box-shadow: inset 0 0 20px #888;

                .form-control {
                    height: 34px;
                    position: relative;
                    top: 4px;
                    border-radius: 0;
                    
                }
                .form-actions {
                    position: relative;
                    top: 3px;
                }
            }
            .button {
                border-color: #222;
                background: #444;
            }
        }

        .block-menu {
            display: none;
            ul.nav {
                display: flex;
            }
        }

        .language-switcher-language-url {

            >ul {
                
                list-style-type: none;
                margin: 0;
                padding:0;
                display: flex;
                li {
                    list-style-type: none;
                    position: relative;
                    padding: 0 3px;
                    line-height: 44px;
                    
                    @include respond-above(sm){
                        margin-left: 8px;
                        padding: 0 10px;
                    }

                    

                    &.is-active {
                        background-color: rgba(0,0,0,0.4);
                    }
        
                    a {
                        color: #fff;
                        display: flex;
                        align-items: center;
                        text-indent: 999em;
                        display: block;
                        width: 33px;
                        overflow: hidden;
                        white-space: nowrap;
                        position: relative;

                        &::before {
                            content: attr(hreflang);
                            position: absolute;
                            top: 0;
                            color: #333;
                            text-transform: uppercase;
                            text-align: center;
                            width: 33px;
                            font-weight: bold;
                            color: #fff;
                            right: 0;
                            text-indent: 0;
                            @include respond-above(sm){
                                content: none;
                            }

                        }

                        @include respond-above(sm){
                            width: auto;
                            text-indent: 0;
                        }
                        

                        img {
                            display: none;
                            @include respond-above(sm){
                                display: inline-block;
                            }
                            height: 12px;
                            width: 24px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
}


main {
    .region-breadcrumb {
        .block-page-title-block {
            h1 {
                margin-top: 2em;
            }
        }
    }
    
}

.twentyKformWrapper {
    background: #f7f7f7;
    border-radius: 1em;
    padding: 2em 1em;
}

.webform-submission-add-form {
    h2 {
        font-size: 3em;
    }
    .webform-custom-submit {
        font-size: 2em;
        width: 100%;
        float: right;
    }
}


.footer {
    background: #333;
    color: $linkColor;
    margin-top: 4em;
}
