$linkColor: #336688;
$timelineBorderLine: #b2ccdd;
$bgColor: #28599b;
$linkColor: #fff;  
$headingColor: #f1cb98;   
$bodyBG: #fff;




@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import "partials/mediafunctions";  
@import 'partials/front'; 
@import 'partials/generator';  
@import 'partials/charts';
@import 'partials/timeline'; 
@import 'partials/articles';
@import 'partials/hero';

body {
    overflow-x: hidden;
}
 

header {
    background-color: $bgColor;
    overflow: visible;
    .navbar {
        
        color: $linkColor;
        position: relative;
        .site-title {
            display: none;
        }
        background-image:url("../images/headerBG.png");

        .navbar-nav {
            --bs-nav-link-color: $linkColor;
            --bs-navbar-active-color: $linkColor;

            .is-active {
                font-weight: bold;
            }
        }
    }
    .navbar-collapse {
        @include respond-below(md){
            position: absolute;
            left: 0;
            width: 100%;
            top: 62px;
            z-index: 9;
            background-color: $bgColor;
        }
    }
}


footer {
    background: #333;
    color: $linkColor;
}
