.view-biblical-articles {
    .dataTable {
        thead {
            th {
                background-color: rgba(0,0,0,0.5);
                color: #eee;
                white-space: nowrap;
            }
        }
       tr{
           background-color: transparent;
        &.odd {
            background-color: rgba(0,0,0,0.2);
        }
        &.even {
            background-color: transparent;
        }
       }


    }
    .dataTables_filter {
        
        input {
            height: 35px;
            border: 1px solid #333;
            border-radius: 4px;
            color: #333;
        }
    }
    .dataTables_length {
        select {
            color: #333;
            height: 34px;
        }
    }
    #datatable {
        @include respond-below(md){
           display: block;
        
        tbody {
            display: flex;
            flex-wrap: wrap;

            tr {
                display: flex;
                flex-wrap: wrap;

                td {
                    flex: 1 100%;

                    a {
                        font-weight: bold;
                    }
                }
            }
        }
        }
    }
}
