body {

    .btn {
        border-radius: 0;
        text-transform: uppercase;
        padding: .5em 2em;
        border: 1px solid;
    }
    .btn-primary {
        background-color: var(--red);
        border-color: var(--cream);
        &:hover {
            background-color: darken($red, 10%);
            border-color: darken($cream, 10%);
        }
    }
    .btn-outline-primary {
        border-color: var(--red);
        color: var(--red);
        &:hover {
            color: darken($red, 10%);
            background-color: transparent;
        }
    }
    .btn-outline-secondary {
        
        &:hover {
            
            background-color: transparent;
        }
    }
    .btn-tertiary {
        background-color: transparent;
        border-color: var(--mediumgreen);
        color: $mediumgreen;
        &:hover {
            border-color: darken($mediumgreen, 10%);
            
        }
    }
    .callout-box {
        border: 2px solid var(--mediumgreen);

        h3 {
            color: var(--mediumgreen);
            border-bottom: 2px solid var(--mediumgreen);
            padding: 1em;
        }
    }
    header {
        background-color: var(--cream);
        .navbar {
            background-image: none;
            .navbar-nav {
                li {
                    a{
                        color: $mediumgreen;
                        &.is-active {
                            color: $mediumgreen;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .new-header-banner {
        background-image: url(/themes/contrib/BiblicalCalendar/images/header.png);
        background-size: cover;
        background-position: center;
        min-height: 200px;
        background-color: var(--red);
        padding-top: 5em;
        padding-bottom: 5em;

         h1 {
            color: var(--cream);
            width: 13em;
        }
        h3 {
            color:var(--cream);
            span {
                border-radius: 6px;
            }
        }
        
    }
    .bible-real {
        background-image: url('/themes/contrib/BiblicalCalendar/images/background_beige.png');
        background-size: cover;

        img {
            height: auto;
        }
        
    }
    .how-sure {
        background-image: url('/themes/contrib/BiblicalCalendar/images/background_red.png');
        background-size: cover;
        img {
            height: auto;
        }
    }
}
