.block-views-blockbiblical-charts-block-1 {
	margin-top: 2em;
}
.view-id-biblical_charts {
	margin-top: 2em;
	
	.view-content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Creates responsive columns */
		gap: 20px; /* Gap between grid items */

		.views-row {


			background-color: #f0f0f0;
			padding: 20px;
			border: 1px solid #ddd;
			text-align: center;

			.views-field-title {
				font-size: 2em;
			}
			
		}
	}
}

.block-views-blocktimeline-chart-full-block-1 {
	.field--name-field-media-document {
		.file-download {
			display: inline-block;
			font-size: 1.4em;
			background-color: #337ab7;
			border-color: #2e6da4;
			display: inline-block;
			margin-bottom: 0;
			font-weight: normal;
			text-align: center;
			white-space: nowrap;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none;
			border: 1px solid transparent;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			border-radius: 4px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}
}
