.hebrewToggle {
    #total-calendar-wrapper .hebrew {
        background-color: #ccc!important;
    }
}

.gregorianToggle {
    #total-calendar-wrapper .gregorian {
        background-color: #ccc!important;
    }
}
.solarToggle {
    #total-calendar-wrapper .solar {
        background-color: #ccc!important;
    }
}
#total-calendar-wrapper {
    .mainUl {
        list-style-type:none;
        margin: 0;
        padding: 0;
    }
    .calloutDay {
        font-weight: bold;
        font-size: 1.2em;
        text-align: right;
    }
    .solar-year {
        position: absolute;
        left: 0;
        top: 0;
    }
    .week-container {
       
            position: relative;
        
    }
    .week {
        width: 16%;
        min-width: 130px;
        ul {
            width: 100%;
            margin: 0;
            li {
                flex: 1 auto;
            }
        }
    }
    .daylistUl {
        position: relative;
        display: flex;
        list-style-type: none; 
        padding: 0;
        li {
            flex: 1 auto;
        }
    }
    .gregorian {
        background-color: $GC;
        color: #fff;

        .daylist {
            @extend .daylistUl;
            padding-bottom: 30px;

        
            .day {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                


                &.sabbath {
                    position: absolute;
                    bottom: 0em;
                    right: 0;
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                }

                span {
                    text-align: center;
                }
            }
        }
        
    }
    .hebrew {
        background-color: $HCC;
        color: #fff;

        .daylist {
            @extend .daylistUl;
        }
    }
    .solar {
        background-color: $SC;
        color: #fff;

         .daylist {
            @extend .daylistUl;
        }
    }

}
