.hebrewToggle {
    #total-calendar-wrapper .hebrew {
        background-color: #ccc!important;
    }
}

.gregorianToggle {
    #total-calendar-wrapper .gregorian {
        background-color: #ccc!important;
    }
}
.solarToggle {
    #total-calendar-wrapper .solar {
        background-color: #ccc!important;
    }
}

@media all and (min-width: 992px) {
    .sticky-sidebar .sticky-sidebar-wrapper {
        position: fixed;
        top: 0;
        height: 100%;
        overflow: auto;
        background: #fff;
    
    }
}
@media all and (max-width: 991px) {
    .sticky-sidebar-wrapper {
       width: auto!important;
    }
}


#total-calendar-wrapper {

    .bg-trumpets {
        color: #333;
    }
    .mainUl {
        list-style-type:none;
        margin: 0;
        padding: 0;
    }
    .month-show {
        text-shadow: 1px 1px 5px #000000;
        font-style: italic;
    }
    .calloutDay {
        font-weight: bold;
        font-size: 1.2em;
        text-align: right;

        &.feast {
            float: right;
            width: auto;
            display: inline-block;
            padding: 0 2px;
        }

        span:first-child {
            font-size: 10px;
            display: inline-block;
            margin-right: 3px;
        }
    }
    .solar-year {
        position: absolute;
        left: 0;
        top: 0;
        background-color: $SC;
        color: #fff;
        font-size: 20px;
        line-height: 1em;
        padding: 4px;
    }
    .week-container {
       
            position: relative;
        
    }
    .week {
        width: 16%;
        min-width: 130px;
        ul {
            width: 100%;
            margin: 0;
            li {
                flex: 1 auto;
            }
        }
    }
    .daylistUl {
        position: relative;
        display: flex;
        list-style-type: none; 
        padding: 0;
        li {
            flex: 1 auto;
            font-size: 8px;
            &.feast {
                .weekdate {
                    width: 100%;
                }
            }
        }
    }
    .calendarSectionType {
        transition: all 0.5s ease;
        &:hover {
            transform: scale(1.5);
            z-index: 786;
        }
    }
    .gregorian {
        @extend .calendarSectionType;
        background-color: $GC;
        color: #fff;

        .month {
            display: flex;
            justify-content: space-between;
            padding: 0 4px;
            .pentecost-week-count {
                color: #0de1ec;
            }

        }
        

        .daylist {
            @extend .daylistUl;
            padding-bottom: 10px;

        
            .day {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                


                &.sabbath {
                    position: absolute;
                    bottom: 0em;
                    right: 0;
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                }

                span {
                    text-align: center;
                }
            }
        }
        
    }
    .hebrew {
        @extend .calendarSectionType;
        background-color: $HCC;
        color: #fff;
        .month {
            display: flex;
          
            justify-content: space-between;
            padding: 0 4px;
        }

        .daylist {
            @extend .daylistUl;
        }
    }
    .solar-container {
        @extend .calendarSectionType;
    }
    .solar {
        
        background-color: $SC;
        color: #fff;

         .daylist {
            @extend .daylistUl;
        }
    }
    .week-container {
        @extend .calendarSectionType;
        background-color: var(--WC);
    }

}
