.path-frontpage {

	.featuredlinks {
		background: #eee;
		margin-top: 3em;
		margin-bottom: 3em;
	}

	#block-biblicalcalendar-page-title {
		h1 {
			display: none;
		}
	}

	.homepage-categories {
		margin-bottom: 4em;
		padding: 1em 3em;

		.swiper-wrapper {
			padding-bottom: 2em;
		}

		&.swiper-initialized
		.role-type{
			video {
				opacity: 1;
			}
		} 

		span.badge {
			white-space: break-spaces;
			margin-bottom: 5px;
		}
		.role-type {
		

			padding: 1em;
	

			video {
				width: 100%;
				height: auto;
				opacity: 0;
			}

			.views-content {
				display: flex;
				flex-wrap: wrap;

				h2 {
					order: 0;
				}

				.views-row {
					order: 2;
					flex: 1 100%;

					&.regular {
						&::before {
							content: '\2022';
						}
					}
					

					&.video-timeline {
						order: 1;
						margin-bottom: 1em;
						position: relative;

						&::after {
							//content: "Related";
							content: none;
							display: block;
							text-decoration: underline;
							font-size: 1.2em;
							font-weight: bold;
							margin-top: 1em;
							border-top: 1px dashed #fff;
							padding-top: 1em;
							
						}
					}
				}
			}
		}
		h2 {
			text-transform: uppercase;
			margin-top: 0;
			color: #000;
			font-weight: bold;
			font-size: 1.4em;
		}
	}
	.featuredlinks {
		a{
			display: block;
			img {
				width: 100%;
			}
			&:hover {
				transform: scale(1.05);
			}
		}
		
	}
	.main-container {
		padding-top: 0!important;
	}

	.region-home-box {
		display: flex;
		flex-wrap: wrap;

		>section {
			flex: 1 100%;
			@include respond-above(md){
				flex: 1 50%;
			}
			
			padding: 0.5em;
			height: auto;

			.form-group {
				
			}
		}

		
	}

	

	
	
	#block-biblicalcalendar-subhero {
		position: relative;
		background: #4a98dc;
		color: #fff;
		padding: 2em;
		text-align: center;
		font-size: 2em;
		width: 100vw;
		position: relative;
		margin-left: -50vw;
		left: 50%;
		margin-bottom: 50px;
		box-shadow: 0px 0px 19px #333;
		top: -5px;
		padding-bottom: 4em;
		margin-bottom: 9em;

		@include respond-below(md){
			padding: 0.5em;
			padding-bottom: 4em;
		}


		a {
			color: #fff;
			text-decoration: none;
			display: inline-block;

			@include respond-below(md){
				font-size: .7em;
			}
		}

		.intro_video {
			position: absolute;
			width: 100%;
			margin-top: 0.5em;
			z-index: 9;
			left: 0;

			iframe {
				max-width: 100%;
			}
		}

	}
}

.block-views-blockhomepage-cat-blocks-block-3 {
	.view-content {
		display: flex;
		flex-wrap: wrap;
		.group-wrapper {
			flex: 1 100%;
			@include respond-above(md){
				flex: 1 50%;
			}
			padding: 0.5em;

			.views-row {
				background: rgba(255,255,255,0.02);
				padding: 1em;

				&:hover {
					background: rgba(255,255,255,0.1);
				}

				.block-field-blocknodearticlebody {
					display: none;
				}
				.block-extra-field-blocknodearticlelinks {
					display: none;
				}
				

				h2 {
					text-transform: uppercase;
					
					margin-top: 0;
					color: #f1cb98;
					a {
						color: #f1cb98;
						font-weight: bold;
					}
				}
			}
		}

	}
}

#block-videogreetin, #block-biblicalcalendar-videogreeting {
	position: fixed;
	top: 300px;
	width: 250px;
	z-index: 88;
	h2 {
		display: none;
	}

	canvas {
		opacity: 1;
		max-width: 300px;
	}

	&.playing {
		.CloseVideoButton {
			display: block;
			cursor: pointer;
			top: 200px;

		}
	}
	#placeholderImg {
		display: block;
	}

	.block-title {
		display: none;
	}

	.CloseVideoButton {
		border: 1px solid #4598ce;
		border-radius: 5px;
		bottom: 0;
		box-shadow: 0 3px 5px 1px rgb(0 0 0 / 43%);
		display: none;
		font-size: 16px;
		left: -30px;
		line-height: 45px;
		margin: 0 18%;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		transition: all 0.3s ease 0s;
		width: 200px;
		z-index: 1000;
		height: 45px;
		background: #222;
		color: #fff;
		padding: 0 8px;


	}
}

#block-biblicalcalendar-content {
	margin-top: .5em;
}