$GC: #1F1F1F;
$HCC: #A50000;
$SC: #0000AA;

$passover: #f70d48;
$unleavenedBread: #a07833;
$pentecost: #0de1ec;
$trumpets: #f2d316;
$atonement: #e647fb;
$tabernacles: #fa8a48;
$lastGreatDay: #15be27;


.path-calendar {

	.fullOverride {
		width: 100%!important;
		float: none!important;
		clear: both;
	}

	#block-biblicalcalendar-calendardatesblock {

		.table {

			td {
				position: relative;

				span {
					display: inline-block;
					min-width: 10px;
					height: 1em;
					margin-left: 5px;
				}
			}
			.passover span {
				background-color: $passover;
			}
			.unleavenedbread span {
				background-color: $unleavenedBread;
			}
			.pentecost  span {
				background-color: $pentecost;
			}
			.trumpets span  {
				background-color: $trumpets;
			}
			
			.atonement  span {
				background-color: $atonement;
			}
			.tabernacles span  {
				background-color: $tabernacles;
			}
			.lastgreatday  span {
				background-color: $lastGreatDay;
			}
		}
	}

	.newHR {
		clear: both;
	}
	.SeeTheEnd {
		a {
			color: #ddd;
		}
	}

	
	.subtitle {
		font-size: 3em;
		margin-top: -.5em;
		margin-bottom: 2em;
	}


	.field--name-body {
		margin-top: 7em;
	}
	.SignificantDateV2, .Header {
		display: none;
	}

	.calendarMetrics {
		display: none!important;
	}

	.disclaimer_heading, .Disclaimer {
		font-size: 20px;
		line-height: 30px;
		text-transform: uppercase;
		text-align: center;
		color: $headingColor;
		padding: 15px 0 20px;
		font-family: "Century Gothic" ,CenturyGothic,AppleGothic,sans-serif;
		font-weight: bold;
		font-style: italic;
		text-shadow: 0 1px 1px #333;
    	background: #3a82de;
		
	}

	#block-calendarbottomsection {
		max-width: 1000px;
		margin: auto;
		background: #333333b5;
	}
	#Math {
		display: flex;
    	width: 100%;

		
			@include respond-below(md){
				flex-wrap: wrap;

				>div {
					width: 100%!important;
					
				}
			}
		
	}
	#Math .TotalDays, #Math .CalcDays, #Math .Calculated { 
		display: block; float: left; width: 33.3%; 
		min-height: 70px; background: #2b60a4; 
	}
	
	#Math .TotalDays >.Title:nth-child(1),
	#Math .TotalDays >.NumCycles,
	#Math .CalcDays >.Title:nth-child(1),
	#Math .CalcDays >.NumCycles,
	#Math .Calculated >.Title:nth-child(1),
	#Math .Calculated >.NumYears
	 {
		width: 100%;
		text-align: center;
	}
	
#Math .TotalDays, 
#Math .CalcDays { border-right: 1px solid #fff; width: 33%; }
#Math .CalcDays { background: #053E84; }
#Math .Title {
  min-height: 45px;
 	 @include respond-below(md){
	text-align: center!important;
	}
}
#Math {
	@include respond-below(md){
		margin-bottom: 1em;
	}
}
#Math>div>div {
	@include respond-below(md){
		width: 100%!important;
		text-align: center;
		font-size: 13px;
	}
}
@media screen and (max-width: 1000px){#Math .CalcDays {width: 33%; font-size: 10px;padding: 0;}}
#Math .TotalDays { border-radius: 0 0 0 30px;}
@media screen and (max-width: 1000px){#Math .TotalDays {width: 33%; font-size: 10px;padding: 0;}}
#Math .Calculated { border-radius: 0 0 30px 0;}
@media screen and (max-width: 1000px){#Math .Calculated {width: 33%; font-size: 10px;padding: 0;}}
#Math .Title, #Math .NumDays, #Math .NumCycles, #Math .NumYears { font-family: "Century Gothic" ,CenturyGothic,AppleGothic,sans-serif; font-weight: bold; float: left; color: #fff; }
#Math .Title { 
	padding: 8px 4% 0 0; 
	text-align: right; width: 52%; 
}
@media screen and (max-width: 1000px){
	#Math .Title {padding: 2px 1px 0 0;}
}
@media screen and (max-width: 600px) {
	#GS {left:30% !important;}
	#Math .Title {
		width: 100%;
	}
}
#Math .Title:after { content: ":"; }
#Math .NumDays, #Math .NumCycles, #Math .NumYears { width: 40%; padding: 8px 0 0 0; }
.SeeTheEnd { font-family: "Century Gothic" ,CenturyGothic,AppleGothic,sans-serif; text-align: center; font-weight: bold; float: left; width: 100%; padding: 8px 0; }
.SeeTheEnd a { text-decoration: none; }
#Math .NumDays:after { content: " days"; clear: both; }

	.region-content {
		border-top: 0px dotted #ccc;
		padding-top: 1em;
		margin-top: 1em;

		h1 {
			text-transform: uppercase;
		}
	}
	section.header {
		position: fixed;
		top: 175px;
		left: 0;
		width: 100%;
		z-index: 10;
		@include respond-below(md){
			top: 135px;
		}
	}
	&.toolbar-fixed {
		.region-content {
			margin-top: 1em;
		}
		section.header {
			top: 255px;
			@include respond-below(md){
				top: 220px;
			}
		}
	}

	.view-significant-dates {

		.content, footer {
			display: none;
		}
	}
	.breadcrumb {
		display: none;
	}

	
	.main-container {
		max-width: 100%;
		width: 100%;
		.row {
			section.col-sm-12, section.col-sm-9 {
				padding: 0;

				section {
					padding: 1em;
				}
			}
		}
	}
	#block-heroimages {
		display: none;
	}

	.key {
		display: flex;
		max-width: 650px;
		margin: auto;
		@include respond-below(md){
			flex-wrap: wrap;
		}

		.label {
			flex: 1 33%;
			padding: 1em;
			font-size: 1.2em;
			text-align: center;
			color: #fff;

			@include respond-below(md){
				flex:  1 100%;
			}

			&.GC {
				background:$GC;
				@include respond-above(md){
					border-radius: 0 0 0 20px;
				}
    			
				
			}
			&.HCC {
				background: $HCC;
			}
			&.SC {
				background: $SC;
				@include respond-above(md){
    			border-radius: 0 0 20px 0;
				}
			}
		}
	}

	.actions {
		width: 100%;
		display: flex;
		justify-content: center;
		.caption {
			order: 2;
			padding: 0 2em;
		}
		.prev {
			order: 1;
			padding-right: 2em;
		}
		.next {
			order: 3;
			padding-left: 2em;
		}
	}

	
	#block-calendarblock, #block-calendarpagebottomtext {
		max-width: 976px;
		width: 80%;
		margin: auto;
	}
	h1 {
		text-align: center;
		&.page-header {
			display: none;
		}
	}

	.block-calendar-generator-nav {
		background-color: #28599b;
    	box-shadow: 0px 0px 5px #000;
		margin-bottom: 2em;
		border-radius: 5px;
		font-size: 2em;

		.calendar_nav {
			padding: 1em 0;
			font-size: 1.4em;

			.input-group {
				height: 1.5em;

				.form-control {
					border-color: $headingColor;
				}
			
				.input-group-addon {
					color: #fff;
					display: flex;
					color: $headingColor;
					font-weight: bold;
					align-items: center;
					background-color: transparent!important;
					border: 1px solid $headingColor;
					cursor: pointer;

					&.prev {
						margin: 0;
					}

				}
			}

			

			.text-right {
				display: flex;
				justify-content: end;

				
			}

			div.generateBtn {
				display: flex;
				align-items: center;
				@include respond-below(md){
					display: block;
					width: 100%;
				}
				.btn {
					color: $headingColor;
					line-height: 3.3em;
					font-weight: bold;
					border-color: $headingColor;
					background-color: transparent;
					&.active {
						background-color: rgba(255,255,255,.2);
					}
				}
				
			}
			

			.currentEra {
				
				.btn {
					color: $headingColor;
					font-weight: bold;
					background-color: transparent;
					border-color: $headingColor;
					&.active {
						background-color: rgba(255,255,255,.2);
					}
				}
				@include respond-below(md){
					width: 100%!important;

					.generateBtn {
						display: block;
						width: 100%;

					}
				}
				


			}
		}
	}
	
	.SignificantDateRow {
		margin-bottom: 1em;

		.views-field-body {
			display: none;
		}
		&.showing {
			.views-field-body {
				display: block;
			}
		}
		h2 {
			&.field-content {
				padding: 20px;
				position: relative;
				/*
				left: 50%;
				right: 50%;
				margin-left: -50vw;
				margin-right: -50vw;
				max-width: 100vw;
				width: calc(100vw - 10px);
				*/
			}


			a {
				border-radius: .5em;
				font-size: 1.5em;
				display: block;
				color: #f1cb98;
				background: #1F1F1F;
				border-color: #1F1F1F;
				text-align: center;
				border-top: 1px solid #f1cb98;
				border-bottom: 1px solid #f1cb09;
				
				padding: 1em;
				font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
			}
		}
		
	}
	.calendarWrapper {
		position: relative;
		width: 100vw;
		left: 50%;
		margin-left: -50vw;
		padding: 2em;
		@include respond-below(md){
			padding: 2em 0;
		}
		background: #3a82de;

		.clear {
			clear: both;
		}

		
	
		.calendarMarkup {
			
			margin-bottom: 10px;
			
			/*
			display:grid;

			grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

			grid-gap: 5px;
			*/
			.container {
				width: 100%;
			}

			#DemoOfNextYear {
				display: none;
			}
			.Disclaimer {
				text-align: center;
			}
			.ArrowCenter {
				display: none;
				&#up {
					float: right;
				}
			}

			.HighSabbath.Chart {
				display: none;
			}

			&::after {
				display: block;
				clear: both;
			}
			.Column {
				border: 1px solid #000;
				background-color: #2196F3;
				margin: 0 0 10px;
				float: left;
				width: 4.9%;
				min-width: 100px;
				

				.Cell {
					font-family: "Century Gothic" , CenturyGothic, AppleGothic, sans-serif;
					font-style: italic;
					font-size: 20px;
					line-height: 30px;
					height: 30px;
					position: relative;
					text-align: center;
					font-weight: bold;
					text-align: center;
					&.GC {
						background-color: #1f1f1f;
						color: #fff;
						&.Month {
							background: transparent;

							
						}
						
					}
					&.HCC {
						background: #a50000;
						color: #fff;
						&.Month {
							background-color: transparent;
							color: #7f9aac;
							&.first {
								background: #a50000;
								white-space: nowrap;
								text-shadow: 1px 1px 5px #000000;
								color: #fff;
								padding: 3px;
							}
							
						}
					}
					&.SC {
						background: #0000aa; 
						color: #fff;
						&.Month {
							background: transparent;
							&.first{
								background: #0000aa; 
								color: #fff;
							}
						}
						&.SabbathCount, &.SabbathCountEnd {
							background: #fff;
							color: #000;
						}

					}

				}
			}
			> div {
				display: block;
			}


		}
	}
	h3 {
		clear: both;
	}
	#block-views-block-expanded-calendar-information-block-1 {
		position: fixed;
		width: 100%;
		height: calc(100vh - 60px);
		height: 150px;
		padding: 2em;
		background: rgba(255,255,255,.2);
		top: 60px;
		left: 0;
		z-index: 78;
		overflow: hidden;
		position: static;
		border: 2px dashed #ccc;
		color: #000;
		margin: 2em 0;

		.expanded-calendar-wrapper {
			.view-content {
				margin-bottom: 2em;
				display: flex;
				.views-row {
					flex: 1 auto;
				}
			}
		}
	}
	#block-calendarpagebottomtext {
		h2 {
			display: none;
		}
		margin-top: 2em;
	}

	#NewCalendarContainer {


		.Column {
			&.pentecostcount {
				position: relative;
				&::before {
					content: attr(data-count);
					display: block;
					position: absolute;
					top: 0px;
					left: 5px;
					z-index: 56;
					font-weight: bold;
					text-shadow: 1px 1px #000;
					font-size: 18px;
					width: 100%;
					text-align: left;
					color: $pentecost

				}
			}
			&.feastoftabernaclesAndLGDmonth {
				&::before {
					background-color: $tabernacles;
					width: 50px;
					height: 120px;
					content: "";
					display: block;
					right: 15px;
					position: absolute;
				}
			}
		}
		.afterContent {
			position: relative;
			&::after {
				display: block;
				position: absolute;
				content: "";
				height: 100%;
				right: 0;
				width: 3px;
				top: 0;
			}

			.Cell {
				span {
					position: relative;
					z-index: 6;
				}
			}
		}
		[data-name="prepentecost"]{
			&::after {
				background-color: $pentecost;
				width: 10px;
				height:120px;
			}
		}
		[data-name="passover"]{
			&::after {
				background-color: $passover;
				width: 10px;
				right: 5px;
				height: 120px;
			}
			
		}
		[data-name="unleavenedbread"]{
			&::after {
				background-color: $unleavenedBread;
				right: auto;
				left: -7px;
				width: calc(50% + 7px);
				z-index: 4;
				height: 120px;
			}
		}
		[data-name="atonement"]{
			&::after {
				background-color: $atonement;
				width: 10px;
				right: 5px;
				height: 120px;
			}
		}
		[data-name="feastoftrumpets"]{
			&::after {
				background-color: $trumpets;
				width: 10px;
				right: 5px;
				height: 120px;
			}
		}
		[data-name="feastoftabernacles"]{
			&::after {
				background-color: $tabernacles;
				width: 10px;
				right: 5px;
				height: 120px;
			}
		}
		[data-name="lastgreatday"]{
			&::after {
				background-color: $lastGreatDay;
				width: 10px;
				right: 5px;
				height: 120px;
			}
		}
	}

} 