body.page-node-type-calendar {

	/*--GC: #e464bc;
	--HCC: #5cb665;
	--SC: #629fea;
	*/

.daygrids {
	font-size: 8px;
	text-align: center;
	min-width: 12px;
	width: 16.6%;
}
.weekgrid-hcc, .weekgrid-sc {
	width: 100%;
	.dayGrid {
		flex: 1 auto;
	}
}
.bg-HCC {
	background-color: var(--HCC);
	color:#fff;
	@extend .daygrids;
}
.bg-SC {
	background-color: var(--SC);
	color: #fff;
	@extend .daygrids;
}
.bg-WC {
	background-color: var(--WC);
	color: #000;
	@extend .daygrids;
}


    main>.container {
        @include respond-below(md){
            padding: 0;
        }
    }


    .bg-tabernacles, .bg-tabernaclesend, .bg-passover, .bg-unleavenedbread, .bg-pentecost, .bg-trumpets, .bg-atonement, .bg-lastgreatday {
        border-radius: 5px;
	}

	.calendarWrapper .calendarMarkup .Column .Cell {
		text-align: right;
	}

	.loadhtmlwrapper  {
		margin-top: 1em;
	}

	.Column {
		.hcc-wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			&:hover {
				transform: scale(1.5);
				z-index: 786;
				transition: all .5s ease;
			}

			.Month {
				order: 1;
			}
			.weekgrid-hcc {
				order: 2;
			}
			.Cell:not(.Month) {
				order: 3;
			}
		}
		.sc-wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			&:hover {
				transform: scale(1.5);
				z-index: 786;
				transition: all .5s ease;
				
			}

			.Month {
				order: 1;
			}
			.weekgrid-sc {
				order: 2;
			}
			.Cell:not(.Month) {
				order: 3;
			}
		}
		.gc-wrapper {
			position: relative;
			&:hover {
				transform: scale(1.5);
				z-index: 786;
				transition: all .5s ease;

			}
		}
	}

	.weekgrid { 
		height: 30px;
		background: var(--GC);

		.daygrid {
			@extend .daygrids;
			&:before {
				content: attr(day-of-week);
				display: block;
				text-align: center;
				font-weight: bold;
				font-size: 8px;
				font-size: 8px;
				position: absolute;
				top: -12px;
				width: 100%;
			}
		}
	}

	#block-biblicalcalendar-page-title {
		text-align: center;

		
	}
	#block-biblicalcalendar-breadcrumbs {
		.breadcrumb {
			display: none
		}
	}


	.legend {
		margin: 2em 0;
		label {
			display:inline;
			width: 100%;
			padding: .25em;
			//color: #fff;
			&:before {
				content: "";
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: .5em;
				vertical-align: middle;
				border: 1px solid #000;
			}
			&[for='gregorianToggle']:before {
				background-color: var(--GC);
			}
			&[for='hebrewToggle']:before {
				background-color: var(--HCC);
			}
			&[for='solarToggle']:before {
				background-color: var(--SC);
			}
			&[for='weeksToggle']:before {
				background-color: var(--WC);
			}
		}
		.form-check {
			display: flex;
			gap: 1em;
			align-items: center;
			margin-bottom: .5em;
		}
	}

	/*#gregorianToggle {
		background-color: var(--GC);
	}
	#hebrewToggle {
		background-color: var(--HCC);
	}
	#solarToggle {
		background-color: var(--SC);
	}
	*/
	&.hebrewToggle {
		.bg-HCC {
			background-color: #ccc!important;
		}
	}
	&.solarToggle {
		.bg-SC {
			background-color: #ccc!important;
		}
	}
	&.weeksToggle {
		.bg-WC {
			background-color: #ccc!important;
		}
	}

	/*
	label[for='gregorianToggle'] {
		background: var(--GC);
	}
	label[for='hebrewToggle'] {
		background: var(--HCC);
	}
	label[for='solarToggle'] {
		background: var(--SC);
	}
	*/

	.hcc-wrapper {
		display: flex;
		flex-direction: column;

		.HCC {
			order: 2;
			&.Month {
				order:1;
			}
		}
	}

	.calendarWrapper {
		width: auto;
        margin-left: 0;
        @include respond-above(md){
		    margin-left: 2em;
        }
		left: unset;
		background-color: transparent;
		padding: 0;
		.calendarMarkup .Column {
			background: transparent;

			.Cell {
				&.GC {
				background-color: var(--GC);
				color: #fff;

					&:not(.Month) {
						border-bottom: 0px solid #fff;
					}
				}
				&.SC.Month {
					height: 25px;
					span {
						font-size: 14px;
					}
					&.SabbathCountEnd {
						font-size: inherit;
					}
				}

			}
			
		}
	}

	&.amyear-1 {
		.month.Mar[data-month-count="1"] {
			justify-content: flex-end;
		}
	}

	#NewCalendarContainer {
		margin-bottom: 2em;
		display: flex;

		flex-wrap: wrap;

		.Cell.GC:not(.first.Month) {
			span {
				align-items: baseline;
				display: inline;
				&:before {
					content: "SAT";
					font-size: 8px;
					margin-right: 3px;
					display: inline-block;
				}
			}
		}
		

		div.month {
			
			float: none;

			display: flex;

			flex: 1 33%;
			/*&.columns-4 {
				flex: 1 25%;
				max-width: 25%;
				min-width: 25%;;
			}
			&.column-5 {
				flex: 1 20%;
				max-width: 20%;
				min-width: 20%;
			}
				*/

			.Column {

				.Cell {

					&.GC {
						background-color: var(--GC);
						color: #fff;
					}

				&.Month.GC.first {

					span {

						/*transform: rotate(-90deg);*/

						margin: 0;

						

						padding: 0;

						display: block;

						text-align: left;
						text-indent: 3px;

						font-size: 15px;

					}

				}
				span {
					display: flex;
					justify-content: end;
					margin-right: 2px;
				}
				&.HCC {
					background-color: var(--HCC);
					
					
					&.Month {
							background-color: var(--HCC);
							color: #7f9aac;
							position: relative;
				
							
							padding: 0;
							&.first {
								
								white-space: nowrap;
								
								color: #fff;
								padding: 3px;
								text-align: left;
								font-size: 15px;

								display: flex;
								flex-direction: column;

								span {
									justify-content: start;
									position: relative;
									z-index: 98
								}
							}
							
						}
					
				}
				&.SabbathCount {
					text-align: right;
				}
			}
				float: none;

				width: auto;

				min-width: 1px;

				max-width: 25%;

				flex: 1 auto;

				
			}



			@include respond-below(md){

				max-width: 100%;

				flex: 1 100%;

			}

		}
	}

	#yearBar {
		background: #eee;
		border: 1px solid #ccc;
		padding: 0 30px;
		font-size: 2em;
		margin-bottom: 35px;
		
		.d-flex {
			display: flex;
			justify-content: center;
			gap: 1em;
			align-items: center;
		}
		h2 {
			margin: 0;
		}

		.yearAction {
			text-decoration: none;
			font-weight: bold;
		}
	}

	.view-id-faqs {
		.view-content .views-row {
			.views-field-title {
				display: none;
			}
		}
		@include respond-below(md){
			.view-header {
				display: none;
			}
			.view-content .views-row {
				.views-field-title {
					display: block;
					margin-bottom: .3em
				}
			}
		}
		.content-pane {
			display: none;
			padding: 1em;
			&.active {
				display: block;
			}
		}
	}
	.mobileToggle {
		@include respond-above(md){
			display: none;
		}
		position: fixed;
		margin: 0;
		left: 0;
		top: 50%;
		z-index: 100;
		i, svg {
			transition: all .3s ease;
		}

		&.open {
			svg, i {
				transform: rotate(180deg);
			}
		}
	}

	&.gregorianToggle {
		.Cell.GC, .weekgrid, .feast, .feast > * {
			background-color: #ccc!important;
			transition: all .3s ease;
		}
		
	}
	
	&.hebrewToggle {
		.Cell.HCC {
			background-color: #ccc!important;
			transition: all .3s ease;
		}
	}
	
	&.solarToggle {
		.Cell.SC {
			background-color: #ccc!important;
			transition: all .3s ease;
		}
	}
	&.weeksToggle {
		.week-container > * {
			background-color: #ccc!important;
			transition: all .3s ease;
			color: #fff;
		}
	}
	
	main {
		> .container {
			> .row .order-1 .region-content article .node__content .layout--twocol-section{
				@include respond-below(md){
					flex-wrap: nowrap;
					flex-direction: row;
					position: relative;
					
				}
			}

			article .layout__region--first {
				@include respond-below(md){
					position: fixed;
					top: 0;
					left: 0px;
					transform: translateX(-100vw);
					transition: all .3s ease;
					margin-left: 1em;
					width: calc(100% - 2em);
					padding: 1em;
				

					&.open {
						transform: translateX(0);
						box-shadow: 0 0 5px #000;
						background: #fff;
						z-index: 100;
						height: 100vh;
						overflow: auto;
					}
				}
				
			}
			article .layout__region--second {
				@include respond-below(md){
					margin-left: 0;
					width: 100%;
					padding: 1em;
					flex: 1 100%;
				}
			}
		}
	}
}
