$linkColor: #336688;
$timelineBorderLine: #b2ccdd;
$bgColor: #28599b;
$linkColor: #fff;  
$headingColor: #f1cb98;       




@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import "partials/mediafunctions";  

/* global  */
h1 {
	font-size: 3.5em;
	font-weight: 600;
	&.page-header { 
		color: $headingColor;
		border: 0; 
 
	}
} 


.full_width {  
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: calc(100vw - 10px);
    padding: 0 10px;
}

.video_timeline { 
	width: 80%;
}
.timeline-page {
	margin-bottom: 5em;
}

.layout-builder-block { 
	background: #333;
}
.main-container .block-layout-builder .field {
	background: transparent;
	padding: 1em;

}
#block-subhero .block-layout-builder .field {
	background: transparent;
	color: #fff;
	border: 0;
}
#block-homelinks  .block-layout-builder .field {
	background: transparent;
	color: #fff;
	border: 0;
}
#block-views-block-featured-significant-dates-block-1  table {
	background:#fff;
}
#block-views-block-featured-significant-dates-block-1 th {
	background: #ddd;
	color: #222;
}
#block-views-block-featured-significant-dates-block-1 td a {
	color: #222;
}
#block-views-block-featured-significant-dates-block-1 .block-layout-builder .field {
	background: transparent;
	color: #fff;
	border: 0; 
} 
.significant_date_table td a {
	color: #000;
	text-decoration: underline;
	font-weight: bold;
}
.block-layout-builder {
	margin-bottom: 1em;
}



body {
	opacity: 1;

    background-color: $bgColor;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 320px;
    overflow-x: hidden;
    overflow-y: auto;
	

	&.toolbar-fixed {
		
		display: block;
		
	}
}



/* region header ///////////////////////////// */

/* header */


#navbar {
	background-color: transparent;   
	background-image: url("../images/headerBG.png");      
	background-size: 100% 138px;
	background-repeat: no-repeat;
	min-height: 141px;
	width: 100%; 
	max-width: 100vw;
	margin-bottom: 0;
	padding-top: 40px;
	border-color: #080808;   
	position: sticky;
	z-index: 899;
	top: 0;

	>.container {
		position: relative;
	}
	

	.navbar-collapse {
		&.in {
			background-color: $bgColor;

			nav {
				flex: 1 100%;

				ul {
					width: 100%;
					margin: 0;
					float: none;
					margin-top: 1em;
				}
			}
		}
	}

	.region-navigation-collapsible {  
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		position: relative;
		
		#block-secondarymenu {
			
			font-size: 1.5em;
			@include respond-above(md){  
				flex: 1 10%;
				min-width: 200px;
				position: absolute;
				top: -50px;
				right: 0;
			}
	
			.menu {
				@include respond-above(md){
					display: flex;
				}
			}
		}
	}


	@include respond-above(sm){
		background-size: 100% 174px; 
	}

	#block-biblecal-account-menu {
		display: none;
	}
	>.container {
		display: flex;
		align-items: center;
		align-content: revert;
		min-height: 91px;
		flex-wrap: wrap;
		@include respond-above(sm){
			display: block;
		}
	} 
	

	&.navbar-default {
		.navbar-nav {
			> .open {
				> a {
					&:hover {
						background-color: rgba(255,255,255,0.2);
					}
					&:focus {
						background-color: rgba(255,255,255,0.2);
					}
					background-color: rgba(255,255,255,0.2);
				}
			} 
		} 

		.nav > li > a:hover, .nav > li > a:focus {
			background-color: rgba(0,0,0,0.4);
		}

		.navbar-header {
			display: flex;
			align-items: flex-start;
			margin: 0 -30px;
			flex: 1 100%;
			height: 98px;

			@include respond-above(sm){
				display: block;
				margin: 0 auto;
				height: auto;
			}
			>.container {
				margin: 0;
				flex: 1 99%;
			}
		}
		.navbar-collapse {
			flex: 1 100%;
		}
		.region-navigation-collapsible {
			flex: 1 100%;
		}
		.dropdown-menu {
			background: #295ba0;
			>li  {
				>a {
					&:hover {
						background: #114da0; 
					}
					
				}
			}
		}
	} 
	.navbar-brand {
		display: none;
	}

	.navbar-toggle {
		background-color: $bgColor;
		color: #fff;
		border-color: #131313;
	}
	.logo {
		img {
			max-width: calc(100vw - 128px);
		}
	}

	.navbar-toggle {
		top: 15px;
		@include respond-below(xs){
			top: 0px;
		}
	}
	.menu {
		float: left;
		clear: both;
		li {
			a {
				color: #fff;
			}
			&.active {
				a {
					background: rgba(255,255,255,0.4);
				}
			}
		}
	}

	.topBar {
		background: #333;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 35px;

		.block-search-form-block {
			width: 200px;
			float: left;
			height: 35px;

			.form-search {
				border-color: #111;
				color: #000;
				box-shadow: inset 0 0 20px #888;
			}
			.button {
				border-color: #222;
				background: #444;
			}
		}

		.language-switcher-language-url {
			float: right;
			>ul.links {
				float: right;
				list-style-type: none;
				margin: 0;
				padding:0;
				display: flex;
				li {
					list-style-type: none;
					position: relative;
					padding: 0 3px;
					line-height: 34px;
					
					@include respond-above(sm){
						margin-left: 8px;
						padding: 0 10px;
					}

					

					&.is-active {
						background-color: rgba(0,0,0,0.4);
					}
		
					a {
						color: #fff;
						display: flex;
						align-items: center;
						text-indent: 999em;
						display: block;
						width: 33px;
						overflow: hidden;
						white-space: nowrap;
						position: relative;

						&::before {
							content: attr(hreflang);
							position: absolute;
							top: 0;
							color: #333;
							text-transform: uppercase;
							text-align: center;
							width: 33px;
							font-weight: bold;
							color: #fff;
							right: 0;
							text-indent: 0;
							@include respond-above(sm){
								content: none;
							}

						}

						@include respond-above(sm){
							width: auto;
							text-indent: 0;
						}
						

						img {
							display: none;
							@include respond-above(sm){
								display: inline-block;
							}
							height: 12px;
							width: 24px;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}


}

/* language */    


#block-heroimages {

	width: 100vw;
	position: relative;
	margin-left: -50vw;
	left: 50%;
	height: 365px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.3); 

	.scroller_wrapper {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			display: flex;
			animation: banner linear 100s infinite;
			position: relative; 
			top: 0px;
			  
			li {
				flex: 1 auto; 
				list-style-type: none;
				margin: 0;
				padding: 0;
				height: 365px;
				width: 342px;
				min-width: 342px;
				background-repeat: no-repeat;
				background-size: cover;
				&.slide1{
					background-image: url(../images/bannerImage_01.jpg);
				}
				&.slide2{
					background-image: url(../images/bannerImage_02.jpg);
				}
				&.slide3{
					background-image: url(../images/bannerImage_03.jpg);
				}
				&.slide4{
					background-image: url(../images/bannerImage_04.jpg);
				}
				&.slide5{
					background-image: url(../images/bannerImage_05.jpg);
				}
				&.slide6{
					background-image: url(../images/bannerImage_06.jpg);
				}
				&.slide7{
					background-image: url(../images/bannerImage_07.jpg);
				}
			}
		}
	}
}


/* region highlighted ///////////////////////////// */
.region-highlighted {
	padding-top: 2em;
}
   

.main-container {
	background-image: url(../images/background.jpg);
	background-size: 115%;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-color: $bgColor;
	color: #fff;
	

	.main-inner {
		background-color: $bgColor;
		padding-bottom: 3em;
	}

	> .row aside {
		height: 70px;
	}
	>.row {
		section {
			width: 100%;
		}
		aside {
			width: 100%;
			clear: both;
		}
	}
	a {
		color: #fff;
	}
	.well {
		color: #333;
		a {
			color: #336688;
			font-weight: bold;
			text-decoration: underline;  

		}
	}
	.panel {
		.panel-body {
			color: #000;
		}
	}


	.region-sidebar-second {
		display: none;
	}

	
}  

/* content ////////////////////////////////// */
.table {
	td a:hover {
		color: #333;
	}
}
.block-field-blocknodearticlebody {
	img {
		max-width: 100%;
	}
}

.field--name-field-media-document {
	padding: 0!important;

	.field--item {
		background: #333;

		.file {
			.file-icon, .file-link, .file-size {
				background: transparent;
				border-color: #111;
			}
			span {
				color: #fff;
				
			}
		}

	}
}

/* region footer ///////////////////////////// */
.footer {
	border: none;
	.container {
		position: relative;
		top: 1em;
	}
	&.footer {
		border-top: 1px solid #000;
		margin-top: 0;

		a {
			color: $linkColor;
		}
	}
	.nav {
		li {
			a {
				&:hover {
					background-color: rgba(0,0,0,0.4);
				}
			}
		}
	}
}
#block-reactbasicblock {
	color: #fff;  
}

@import 'partials/front'; 
@import 'partials/generator';  
@import 'partials/charts';
@import 'partials/timeline'; 
@import 'partials/articles';

.region-highlighted {
	.breadcrumb {
		background: #333;    
	}
}
.region-header {
	
	.page-header {
		margin-top: 1em;
	}
}

.region-footer {
	nav {
		display: block; 
		clear: both;
	}
}





@keyframes banner {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-100%);
	}
  }
  

  @media all and (min-width: 768px){
	.view-id-biblical_charts {
		.view-content {
			display: block;
	
			.views-row {
				float: left;
				width: 25%;  
			}
		}
	}
  }