{#
/**
 * @file
 * Default theme implementation for timeline_block.
 *
 * Available variables:
 *   - items
 *
 * @see template_preprocess_timeline_block()
 *
 * @ingroup themeable
 */
#}

{% macro customize_item(item) %}
  
  <li>{{ item.title }} : {{ item.description }}</li>

{% endmacro %}


