{#
/**
 * @file
 * Default theme implementation for timeline_block.
 *
 * Available variables:
 *   - items
 *
 * @see template_preprocess_timeline_block()
 *
 * @ingroup themeable
 */
#}
<div class="timeline_block" style="display: none">
{% for item in items %}
  <p>{{ item }}</p>
{% endfor %}
</div>