<div class="container-cal calendarnav">

    <div class="calendar_nav row">
        <div class="col-sm-4">
            <div class="btn-group currentEra d-inline-block" id="GC_Era" name="GC_Era" data-value=""> 

                <button type="button" data-id="AD" class="btn btn-primary {% if data.era == "AD" %}active{% endif %}">AD</button> 
                <button type="button" data-id="BC" class="btn btn-primary {% if data.era == "BC" %}active{% endif %}">BC</button> 
                <button type="button" data-id="AM" class="btn btn-primary {% if data.era == "AM" %}active{% endif %}">AM</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <a class="input-group-addon yearToggle btn btn-primary prev" data-dir="prev">Prev</a>
                <input class="form-control currentyear" type="number" value="1">
                <a class="input-group-addon yearToggle btn btn-primary next" data-dir="next">Next</a>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <a href="#" onclick="calendarnav.generateBtn(this)" 
            class="btn btn-primary generateBtn">Generate</a>
        </div>
    </div>
</div>